In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('house_data.csv')
df

,Unnamed: 0,location,price_per_sqft,total_sqft,builtup_area,bhk,price
0,0,Residential land / Plot in Dronagiri,₹ 521/sq.ft.,"1,089 sq.ft. (101 sq.m.) Plot Area",(101 sq.m.) Plot Area,NaN,₹ 5.68 L₹ 521/sq.ft.
1,1,2 BHK Apartment in Anjurdive,"₹ 10,889/sq.ft.",613 sq.ft. (57 sq.m.) Carpet Area,(57 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 66.75 L₹ 10,889/sq.ft."
2,2,1 BHK Apartment in Dahisar East,"₹ 21,783/sq.ft.",404 sq.ft. (38 sq.m.) Carpet Area,(38 sq.m.) Carpet Area,1 BHK2 Baths,"₹ 83 L₹ 21,783/sq.ft."
3,3,1 BHK Apartment in Dahisar West,"₹ 15,966/sq.ft.",595 sq.ft. (55 sq.m.) Super built-up Area,(55 sq.m.) Super built-up Area,1 BHK2 Baths,"₹ 95 L₹ 15,966/sq.ft."
4,4,3 BHK Apartment in Vidyavihar West,"₹ 25,862/sq.ft.","1,450 sq.ft. (135 sq.m.) Built-up Area",(135 sq.m.) Built-up Area,3 BHK3 Baths,"₹ 3.75 Cr₹ 25,862/sq.ft."
...,...,...,...,...,...,...,...
134,134,2 Bedroom House in Vashi,"₹ 35,613/sq.ft.",322 sq.ft. (30 sq.m.) Plot Area,(30 sq.m.) Plot Area,2 BHK2 Baths,"₹ 1.15 Cr₹ 35,613/sq.ft."
135,135,1 BHK Apartment in Kharghar,"₹ 8,163/sq.ft.",550 sq.ft. (51 sq.m.) Carpet Area,(51 sq.m.) Carpet Area,1 BHK2 Baths,"₹ 44.9 L₹ 8,163/sq.ft."
136,136,Residential land / Plot in Shahpur,₹ 837/sq.ft.,"2,150 sq.ft. (200 sq.m.) Plot Area",(200 sq.m.) Plot Area,NaN,₹ 18 L₹ 837/sq.ft.
137,137,1 BHK Apartment in Vichumbe,"₹ 6,184/sq.ft.",663 sq.ft. (62 sq.m.) Super built-up Area,(62 sq.m.) Super built-up Area,1 BHK2 Baths,"₹ 41 L₹ 6,184/sq.ft."
138,138,3 BHK Apartment in Mulund West,"₹ 30,233/sq.ft.","1,074 sq.ft. (100 sq.m.) Carpet Area",(100 sq.m.) Carpet Area,3 BHK3 Baths,"₹ 3.25 Cr₹ 30,233/sq.ft."

In [3]:
df = df.drop("Unnamed: 0",axis=1)

In [4]:
df.shape

(139, 6)

In [5]:
df.describe().T

               count unique                                  top freq
location         139    121     1 BHK Apartment in Dombivli East    3
price_per_sqft   139    137                      ₹ 25,862/sq.ft.    2
total_sqft       139    132  610 sq.ft. (57 sq.m.) Built-up Area    2
builtup_area     139    107               (59 sq.m.) Carpet Area    4
bhk              134     14                         2 BHK2 Baths   49
price            139    138             ₹ 2.75 Cr₹ 34,810/sq.ft.    2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        139 non-null    object
 1   price_per_sqft  139 non-null    object
 2   total_sqft      139 non-null    object
 3   builtup_area    139 non-null    object
 4   bhk             134 non-null    object
 5   price           139 non-null    object
dtypes: object(6)
memory usage: 6.6+ KB

In [7]:
df.isnull().sum()

location          0
price_per_sqft    0
total_sqft        0
builtup_area      0
bhk               5
price             0
dtype: int64

In [8]:
df.dtypes

location          object
price_per_sqft    object
total_sqft        object
builtup_area      object
bhk               object
price             object
dtype: object

In [9]:
df

,location,price_per_sqft,total_sqft,builtup_area,bhk,price
0,Residential land / Plot in Dronagiri,₹ 521/sq.ft.,"1,089 sq.ft. (101 sq.m.) Plot Area",(101 sq.m.) Plot Area,NaN,₹ 5.68 L₹ 521/sq.ft.
1,2 BHK Apartment in Anjurdive,"₹ 10,889/sq.ft.",613 sq.ft. (57 sq.m.) Carpet Area,(57 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 66.75 L₹ 10,889/sq.ft."
2,1 BHK Apartment in Dahisar East,"₹ 21,783/sq.ft.",404 sq.ft. (38 sq.m.) Carpet Area,(38 sq.m.) Carpet Area,1 BHK2 Baths,"₹ 83 L₹ 21,783/sq.ft."
3,1 BHK Apartment in Dahisar West,"₹ 15,966/sq.ft.",595 sq.ft. (55 sq.m.) Super built-up Area,(55 sq.m.) Super built-up Area,1 BHK2 Baths,"₹ 95 L₹ 15,966/sq.ft."
4,3 BHK Apartment in Vidyavihar West,"₹ 25,862/sq.ft.","1,450 sq.ft. (135 sq.m.) Built-up Area",(135 sq.m.) Built-up Area,3 BHK3 Baths,"₹ 3.75 Cr₹ 25,862/sq.ft."
...,...,...,...,...,...,...
134,2 Bedroom House in Vashi,"₹ 35,613/sq.ft.",322 sq.ft. (30 sq.m.) Plot Area,(30 sq.m.) Plot Area,2 BHK2 Baths,"₹ 1.15 Cr₹ 35,613/sq.ft."
135,1 BHK Apartment in Kharghar,"₹ 8,163/sq.ft.",550 sq.ft. (51 sq.m.) Carpet Area,(51 sq.m.) Carpet Area,1 BHK2 Baths,"₹ 44.9 L₹ 8,163/sq.ft."
136,Residential land / Plot in Shahpur,₹ 837/sq.ft.,"2,150 sq.ft. (200 sq.m.) Plot Area",(200 sq.m.) Plot Area,NaN,₹ 18 L₹ 837/sq.ft.
137,1 BHK Apartment in Vichumbe,"₹ 6,184/sq.ft.",663 sq.ft. (62 sq.m.) Super built-up Area,(62 sq.m.) Super built-up Area,1 BHK2 Baths,"₹ 41 L₹ 6,184/sq.ft."
138,3 BHK Apartment in Mulund West,"₹ 30,233/sq.ft.","1,074 sq.ft. (100 sq.m.) Carpet Area",(100 sq.m.) Carpet Area,3 BHK3 Baths,"₹ 3.25 Cr₹ 30,233/sq.ft."

In [10]:
location = df['location'].tolist()

print(location)

['Residential land / Plot in Dronagiri', '2 BHK Apartment in Anjurdive', '1 BHK Apartment in Dahisar East', '1 BHK Apartment in Dahisar West', '3 BHK Apartment in Vidyavihar West', '2 BHK Apartment in Santacruz East', '3 BHK Apartment in Manpada', '1 BHK Apartment in Vile Parle West', '1 BHK Apartment in Kolshet Road', '2 BHK Apartment in Mitha Nagar', '2 BHK Apartment in Nahur East', '3 BHK Apartment in Sector 17 Nerul', '2 BHK Apartment in Mahim West', '2 BHK Apartment in Andheri West', '2 BHK Apartment in Naigaon East', '2 BHK Apartment in Kalamboli', 'Residential land / Plot in Manori', '3 BHK Apartment in Malad West', '2 BHK Apartment in Goregaon West', '3 BHK Apartment in Parel', '2 BHK Apartment in Mulund West', '1 BHK Apartment in Matunga East', '3 Bedroom House in Mulund East', '1 BHK Apartment in Vichumbe, New Panvel', '2 BHK Apartment in Wagle Estate', '2 BHK Apartment in Koperkhairane', '1 BHK Apartment in Dombivli East', '3 BHK Apartment in Borivali West', '2 BHK Apartment in Sector 16 Vashi', '2 BHK Apartment in Bandra East', '3 BHK Apartment in Ghatkopar East', '4 BHK Apartment in Charkop', '1 BHK Apartment in Bhiwandi', '2 BHK Apartment in Kasar vadavali', 'Studio Apartments / 1 RK Flats in Sector 19 Ulwe', '2 BHK Apartment in Seven Bunglow', '1 BHK Apartment in Panvel', '3 BHK Apartment in Sector 11 Kharghar', '1 BHK Apartment in Malad East', '1 BHK Apartment in Century Bazaar', '2 BHK Apartment in Walkeshwar', '3 BHK Apartment in Malad West', 'Studio Apartments / 1 RK Flats in Chakala', '1 BHK Apartment in Sector 5 New Panvel East', '2 BHK Apartment in Bhandup West', '1 BHK Apartment in Sindhi Society Chembur', '2 BHK Apartment in Kandivali West', '2 BHK Apartment in Hiranandani Estate', '3 BHK Apartment in Goregaon East', '2 BHK Apartment in Jogeshwari West', '3 BHK Apartment in Hiranandani Estate', '1 BHK Apartment in Andheri East', '3 BHK Apartment in Charni Road', '2 BHK Apartment in Dombivli East', '3 BHK Apartment in Sector 15 Kharghar', '2 BHK Apartment in Pant Nagar', '2 BHK Apartment in Thane West', '2 BHK Apartment in Kharghar', '3 BHK Apartment in Koperkhairane', '1 BHK Apartment in Borivali East', '3 BHK Apartment in Borivali West', '2 BHK Apartment in Kalyan West', '2 BHK Apartment in Nalasopara West', '2 BHK Apartment in Majiwada', '3 BHK Apartment in Dadar west', '3 BHK Apartment in Goregaon West', '3 Bedroom House in Dahisar East', '2 BHK Apartment in Badlapur East', '1 BHK Apartment in Kharghar', '1 BHK Apartment in Chirak Nagar', '2 BHK Apartment in Versova', '2 BHK Apartment in Borivali West', '2 BHK Apartment in Borivali West', '2 BHK Apartment in Andheri West', '1 BHK Apartment in Dombivli East', '2 BHK Apartment in Chembur East', '1 BHK Apartment in Kopri', '3 BHK Apartment in Sector 12 Vashi', '2 BHK Apartment in Prabhadevi', '1 BHK Apartment in Brahmand', '2 BHK Apartment in Nahur East', '1 BHK Apartment in Badlapur East', '1 BHK Apartment in Dahisar East', '2 BHK Apartment in Gorai 2', '3 BHK Apartment in Oshiwara', 'Residential land / Plot in Karjat', '2 BHK Apartment in Anjurdive', '2 BHK Apartment in Chembur East', '5 BHK Apartment in Kandivali West', '4 BHK Apartment in Vidyavihar West', '1 BHK Apartment in Kalyan West', 'Residential land / Plot in Badlapur', '1 BHK Independent Builder Floor in Chembur', '1 BHK Apartment in Raghunath Nagar', '1 BHK Apartment in Kalbadevi', '1 BHK Apartment in Dombivli East', '2 BHK Independent Builder Floor in Marol', '1 BHK Independent Builder Floor in VBHC Hillview Vasind', '1 BHK Apartment in Roadpali', '6 Bedroom House in Kalina', '2 BHK Apartment in Vasind', '6 Bedroom House in Ramdev Park', '1 BHK Apartment in Kopargaon', '5 Bedroom House in New Panvel', '2 BHK Apartment in Virar West', '2 BHK Apartment in Shastri Nagar', '2 BHK Apartment in Matunga West', '2 BHK Apartment in Goregaon West', 'Studio Apartments / 1 RK Flats in Dombivli West', '1 BHK Apartment in Thane West', '3 BHK Apartment in Kalyan West', '2 BHK Apartment in Dombivli East', '1 BHK Apartment in Virar', '3 BHK Apartment in Manpada', '2 BHK Apartment in Kalyan West', '1 BHK Apartment in Balkum', '2 BHK Apartment in Taloja', '2 BHK Apartment in Sector 8 Airoli', '2 BHK Apartment in Mira Road', '4 BHK Apartment in Sindhu Wadi', '3 BHK Apartment in Marol', '1 BHK Apartment in Bhandup West', '2 BHK Apartment in Kolshet Road', '2 BHK Apartment in Valmiki Nagar', '3 BHK Apartment in Santacruz West', '1 BHK Apartment in Bhandup West', '3 BHK Apartment in Bhayander West', '2 BHK Apartment in Kalyan West', '1 BHK Apartment in Ghodbunder Road', '1 BHK Apartment in Girgaum', '1 BHK Apartment in Mira Bhayandar', '2 BHK Apartment in Prabhadevi', '2 BHK Apartment in Bhakti Mandir', '1 BHK Apartment in Muthaval', '2 Bedroom House in Vashi', '1 BHK Apartment in Kharghar', 'Residential land / Plot in Shahpur', '1 BHK Apartment in Vichumbe', '3 BHK Apartment in Mulund West']

In [11]:
pattern = r"in\s(.*)"

#list to store matching strings
loc = []

for string in location:
    match = re.search(pattern, string, re.IGNORECASE)
    if match:
        loc.append(match.group(1))

print(loc)

['Dronagiri', 'Anjurdive', 'Dahisar East', 'Dahisar West', 'Vidyavihar West', 'Santacruz East', 'Manpada', 'Vile Parle West', 'Kolshet Road', 'Mitha Nagar', 'Nahur East', 'Sector 17 Nerul', 'Mahim West', 'Andheri West', 'Naigaon East', 'Kalamboli', 'Manori', 'Malad West', 'Goregaon West', 'Parel', 'Mulund West', 'Matunga East', 'Mulund East', 'Vichumbe, New Panvel', 'Wagle Estate', 'Koperkhairane', 'Dombivli East', 'Borivali West', 'Sector 16 Vashi', 'Bandra East', 'Ghatkopar East', 'Charkop', 'Bhiwandi', 'Kasar vadavali', 'Sector 19 Ulwe', 'Seven Bunglow', 'Panvel', 'Sector 11 Kharghar', 'Malad East', 'Century Bazaar', 'Walkeshwar', 'Malad West', 'Chakala', 'Sector 5 New Panvel East', 'Bhandup West', 'Sindhi Society Chembur', 'Kandivali West', 'Hiranandani Estate', 'Goregaon East', 'Jogeshwari West', 'Hiranandani Estate', 'Andheri East', 'Charni Road', 'Dombivli East', 'Sector 15 Kharghar', 'Pant Nagar', 'Thane West', 'Kharghar', 'Koperkhairane', 'Borivali East', 'Borivali West', 'Kalyan West', 'Nalasopara West', 'Majiwada', 'Dadar west', 'Goregaon West', 'Dahisar East', 'Badlapur East', 'Kharghar', 'Chirak Nagar', 'Versova', 'Borivali West', 'Borivali West', 'Andheri West', 'Dombivli East', 'Chembur East', 'Kopri', 'Sector 12 Vashi', 'Prabhadevi', 'Brahmand', 'Nahur East', 'Badlapur East', 'Dahisar East', 'Gorai 2', 'Oshiwara', 'Karjat', 'Anjurdive', 'Chembur East', 'Kandivali West', 'Vidyavihar West', 'Kalyan West', 'Badlapur', 'Chembur', 'Raghunath Nagar', 'Kalbadevi', 'Dombivli East', 'Marol', 'VBHC Hillview Vasind', 'Roadpali', 'Kalina', 'Vasind', 'Ramdev Park', 'Kopargaon', 'New Panvel', 'Virar West', 'Shastri Nagar', 'Matunga West', 'Goregaon West', 'Dombivli West', 'Thane West', 'Kalyan West', 'Dombivli East', 'Virar', 'Manpada', 'Kalyan West', 'Balkum', 'Taloja', 'Sector 8 Airoli', 'Mira Road', 'Sindhu Wadi', 'Marol', 'Bhandup West', 'Kolshet Road', 'Valmiki Nagar', 'Santacruz West', 'Bhandup West', 'Bhayander West', 'Kalyan West', 'Ghodbunder Road', 'Girgaum', 'Mira Bhayandar', 'Prabhadevi', 'Bhakti Mandir', 'Muthaval', 'Vashi', 'Kharghar', 'Shahpur', 'Vichumbe', 'Mulund West']

In [12]:
len(loc)

139

In [13]:
pattern = r"(.*?)\sin"

#list to store modified strings
modified_strings = []

for string in location:
    match = re.search(pattern, string, re.IGNORECASE)
    if match:
        modified_strings.append(match.group(1))
    else:
        modified_strings.append(string)

print(modified_strings)

['Residential land / Plot', '2 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', 'Residential land / Plot', '3 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '3 Bedroom House', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '4 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', 'Studio Apartments / 1 RK Flats', '2 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', 'Studio Apartments / 1 RK Flats', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '3 BHK Apartment', '3 Bedroom House', '2 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '2 BHK Apartment', '5 BHK Apartment', '4 BHK Apartment', '1 BHK Apartment', 'Residential land / Plot', '1 BHK', '1 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '2 BHK', '1 BHK', '1 BHK Apartment', '6 Bedroom House', '2 BHK Apartment', '6 Bedroom House', '1 BHK Apartment', '5 Bedroom House', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', 'Studio Apartments / 1 RK Flats', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '4 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 Bedroom House', '1 BHK Apartment', 'Residential land / Plot', '1 BHK Apartment', '3 BHK Apartment']

In [14]:
words_to_drop = ["BHK"]

#regular expression pattern to match and drop words
pattern = "|".join(words_to_drop)

#list to store modified strings
modified_strings1 = []

for string in modified_strings:
    modified_string = re.sub(pattern, "", string, flags=re.IGNORECASE)
    modified_strings1.append(modified_string)

print(modified_strings1)

['Residential land / Plot', '2  Apartment', '1  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '3  Apartment', '1  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', 'Residential land / Plot', '3  Apartment', '2  Apartment', '3  Apartment', '2  Apartment', '1  Apartment', '3 Bedroom House', '1  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '4  Apartment', '1  Apartment', '2  Apartment', 'Studio Apartments / 1 RK Flats', '2  Apartment', '1  Apartment', '3  Apartment', '1  Apartment', '1  Apartment', '2  Apartment', '3  Apartment', 'Studio Apartments / 1 RK Flats', '1  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '2  Apartment', '3  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '3  Apartment', '3 Bedroom House', '2  Apartment', '1  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '1  Apartment', '1  Apartment', '2  Apartment', '3  Apartment', 'Residential land / Plot', '2  Apartment', '2  Apartment', '5  Apartment', '4  Apartment', '1  Apartment', 'Residential land / Plot', '1 ', '1  Apartment', '1  Apartment', '1  Apartment', '2 ', '1 ', '1  Apartment', '6 Bedroom House', '2  Apartment', '6 Bedroom House', '1  Apartment', '5 Bedroom House', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', 'Studio Apartments / 1 RK Flats', '1  Apartment', '3  Apartment', '2  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '4  Apartment', '3  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '1  Apartment', '1  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '2 Bedroom House', '1  Apartment', 'Residential land / Plot', '1  Apartment', '3  Apartment']

In [15]:
pattern = "[0-9]+"

#list to store modified strings
modified_strings2 = []

for string in modified_strings1:
    modified_string = re.sub(pattern, "", string)
    modified_strings2.append(modified_string)

print(modified_strings2)

['Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Studio Apartments /  RK Flats', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Studio Apartments /  RK Flats', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', ' ', '  Apartment', '  Apartment', '  Apartment', ' ', ' ', '  Apartment', ' Bedroom House', '  Apartment', ' Bedroom House', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Studio Apartments /  RK Flats', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment']

In [16]:
#regular expression pattern to match and remove space before starting word
pattern = "^\s"

#list to store modified strings
land = []

for string in modified_strings2:
    modified_string = re.sub(pattern, "", string)
    land.append(modified_string)

print(land)

['Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Studio Apartments /  RK Flats', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Studio Apartments /  RK Flats', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', '', ' Apartment', ' Apartment', ' Apartment', '', '', ' Apartment', 'Bedroom House', ' Apartment', 'Bedroom House', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Studio Apartments /  RK Flats', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment']

In [17]:
#regular expression pattern to match and remove space before starting word
pattern = "^\s"

#list to store modified strings
type_of_land = []

for string in land:
    modified_string = re.sub(pattern, "", string)
    type_of_land.append(modified_string)

print(type_of_land)

['Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Studio Apartments /  RK Flats', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Studio Apartments /  RK Flats', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', '', 'Apartment', 'Apartment', 'Apartment', '', '', 'Apartment', 'Bedroom House', 'Apartment', 'Bedroom House', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Studio Apartments /  RK Flats', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment']

In [18]:
from collections import Counter

# Count the occurrences of each string in the list
counts = Counter(type_of_land)

# Get the most common string
most_common = counts.most_common(1)[0][0]

# Replace empty strings with the most common string
type_of_land = [most_common if x=='' else x for x in type_of_land]

In [19]:
type_of_land = list(map(lambda x: 'Bedroom House' if x=='House' else x, type_of_land))

In [20]:
pattern = '\d+'
bhk = list(map(lambda x: re.search(pattern, x).group() if re.search(pattern, x) else None, location))
pattern = re.compile('\d+')
bhk = list(map(lambda x: pattern.search(x).group() if pattern.search(x) else None, location))
bhk

[None,
 '2',
 '1',
 '1',
 '3',
 '2',
 '3',
 '1',
 '1',
 '2',
 '2',
 '3',
 '2',
 '2',
 '2',
 '2',
 None,
 '3',
 '2',
 '3',
 '2',
 '1',
 '3',
 '1',
 '2',
 '2',
 '1',
 '3',
 '2',
 '2',
 '3',
 '4',
 '1',
 '2',
 '1',
 '2',
 '1',
 '3',
 '1',
 '1',
 '2',
 '3',
 '1',
 '1',
 '2',
 '1',
 '2',
 '2',
 '3',
 '2',
 '3',
 '1',
 '3',
 '2',
 '3',
 '2',
 '2',
 '2',
 '3',
 '1',
 '3',
 '2',
 '2',
 '2',
 '3',
 '3',
 '3',
 '2',
 '1',
 '1',
 '2',
 '2',
 '2',
 '2',
 '1',
 '2',
 '1',
 '3',
 '2',
 '1',
 '2',
 '1',
 '1',
 '2',
 '3',
 None,
 '2',
 '2',
 '5',
 '4',
 '1',
 None,
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '6',
 '2',
 '6',
 '1',
 '5',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '3',
 '2',
 '1',
 '3',
 '2',
 '1',
 '2',
 '2',
 '2',
 '4',
 '3',
 '1',
 '2',
 '2',
 '3',
 '1',
 '3',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 None,
 '1',
 '3']

In [21]:
for i in range(len(bhk)):
    try:
        bhk[i] = int(bhk[i])
    except:
        pass
print(bhk)

[None, 2, 1, 1, 3, 2, 3, 1, 1, 2, 2, 3, 2, 2, 2, 2, None, 3, 2, 3, 2, 1, 3, 1, 2, 2, 1, 3, 2, 2, 3, 4, 1, 2, 1, 2, 1, 3, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, 3, 2, 3, 1, 3, 2, 3, 2, 2, 2, 3, 1, 3, 2, 2, 2, 3, 3, 3, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 3, 2, 1, 2, 1, 1, 2, 3, None, 2, 2, 5, 4, 1, None, 1, 1, 1, 1, 2, 1, 1, 6, 2, 6, 1, 5, 2, 2, 2, 2, 1, 1, 3, 2, 1, 3, 2, 1, 2, 2, 2, 4, 3, 1, 2, 2, 3, 1, 3, 2, 1, 1, 1, 2, 2, 1, 2, 1, None, 1, 3]

In [22]:
bhk = [0 if i is None else i for i in bhk]
print(bhk)

[0, 2, 1, 1, 3, 2, 3, 1, 1, 2, 2, 3, 2, 2, 2, 2, 0, 3, 2, 3, 2, 1, 3, 1, 2, 2, 1, 3, 2, 2, 3, 4, 1, 2, 1, 2, 1, 3, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, 3, 2, 3, 1, 3, 2, 3, 2, 2, 2, 3, 1, 3, 2, 2, 2, 3, 3, 3, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 3, 2, 1, 2, 1, 1, 2, 3, 0, 2, 2, 5, 4, 1, 0, 1, 1, 1, 1, 2, 1, 1, 6, 2, 6, 1, 5, 2, 2, 2, 2, 1, 1, 3, 2, 1, 3, 2, 1, 2, 2, 2, 4, 3, 1, 2, 2, 3, 1, 3, 2, 1, 1, 1, 2, 2, 1, 2, 1, 0, 1, 3]

In [23]:
len(bhk)

139

# price per sqft

In [24]:
price = df['price_per_sqft'].tolist()

print(price)

['₹ 521/sq.ft.', '₹ 10,889/sq.ft.', '₹ 21,783/sq.ft.', '₹ 15,966/sq.ft.', '₹ 25,862/sq.ft.', '₹ 39,954/sq.ft.', '₹ 14,666/sq.ft.', '₹ 31,428/sq.ft.', '₹ 11,230/sq.ft.', '₹ 18,713/sq.ft.', '₹ 24,013/sq.ft.', '₹ 17,333/sq.ft.', '₹ 28,322/sq.ft.', '₹ 34,810/sq.ft.', '₹ 10,250/sq.ft.', '₹ 11,111/sq.ft.', '₹ 789/sq.ft.', '₹ 34,810/sq.ft.', '₹ 24,884/sq.ft.', '₹ 37,037/sq.ft.', '₹ 15,384/sq.ft.', '₹ 30,000/sq.ft.', '₹ 39,000/sq.ft.', '₹ 6,412/sq.ft.', '₹ 18,656/sq.ft.', '₹ 13,333/sq.ft.', '₹ 10,552/sq.ft.', '₹ 31,163/sq.ft.', '₹ 20,454/sq.ft.', '₹ 24,390/sq.ft.', '₹ 32,876/sq.ft.', '₹ 19,730/sq.ft.', '₹ 5,300/sq.ft.', '₹ 9,193/sq.ft.', '₹ 10,869/sq.ft.', '₹ 40,800/sq.ft.', '₹ 5,000/sq.ft.', '₹ 15,294/sq.ft.', '₹ 13,889/sq.ft.', '₹ 35,714/sq.ft.', '₹ 65,000/sq.ft.', '₹ 16,666/sq.ft.', '₹ 18,333/sq.ft.', '₹ 8,000/sq.ft.', '₹ 22,443/sq.ft.', '₹ 22,335/sq.ft.', '₹ 25,134/sq.ft.', '₹ 18,495/sq.ft.', '₹ 24,820/sq.ft.', '₹ 28,125/sq.ft.', '₹ 18,091/sq.ft.', '₹ 18,852/sq.ft.', '₹ 31,578/sq.ft.', '₹ 6,870/sq.ft.', '₹ 11,875/sq.ft.', '₹ 30,303/sq.ft.', '₹ 14,118/sq.ft.', '₹ 10,952/sq.ft.', '₹ 38,224/sq.ft.', '₹ 18,260/sq.ft.', '₹ 28,000/sq.ft.', '₹ 8,610/sq.ft.', '₹ 5,882/sq.ft.', '₹ 17,692/sq.ft.', '₹ 40,254/sq.ft.', '₹ 24,712/sq.ft.', '₹ 15,000/sq.ft.', '₹ 4,391/sq.ft.', '₹ 15,454/sq.ft.', '₹ 13,132/sq.ft.', '₹ 25,899/sq.ft.', '₹ 32,989/sq.ft.', '₹ 25,862/sq.ft.', '₹ 12,053/sq.ft.', '₹ 11,349/sq.ft.', '₹ 15,889/sq.ft.', '₹ 13,057/sq.ft.', '₹ 11,981/sq.ft.', '₹ 53,571/sq.ft.', '₹ 12,222/sq.ft.', '₹ 15,748/sq.ft.', '₹ 3,937/sq.ft.', '₹ 20,571/sq.ft.', '₹ 16,000/sq.ft.', '₹ 22,950/sq.ft.', '₹ 485/sq.ft.', '₹ 10,766/sq.ft.', '₹ 21,739/sq.ft.', '₹ 21,000/sq.ft.', '₹ 28,304/sq.ft.', '₹ 6,779/sq.ft.', '₹ 459/sq.ft.', '₹ 25,000/sq.ft.', '₹ 12,878/sq.ft.', '₹ 47,500/sq.ft.', '₹ 7,272/sq.ft.', '₹ 26,168/sq.ft.', '₹ 3,840/sq.ft.', '₹ 7,654/sq.ft.', '₹ 28,780/sq.ft.', '₹ 3,747/sq.ft.', '₹ 18,666/sq.ft.', '₹ 10,023/sq.ft.', '₹ 23,005/sq.ft.', '₹ 7,196/sq.ft.', '₹ 29,375/sq.ft.', '₹ 45,103/sq.ft.', '₹ 19,763/sq.ft.', '₹ 7,973/sq.ft.', '₹ 18,390/sq.ft.', '₹ 11,384/sq.ft.', '₹ 12,820/sq.ft.', '₹ 6,013/sq.ft.', '₹ 17,189/sq.ft.', '₹ 6,391/sq.ft.', '₹ 7,872/sq.ft.', '₹ 4,621/sq.ft.', '₹ 10,526/sq.ft.', '₹ 22,222/sq.ft.', '₹ 28,235/sq.ft.', '₹ 29,649/sq.ft.', '₹ 17,213/sq.ft.', '₹ 15,978/sq.ft.', '₹ 24,337/sq.ft.', '₹ 59,895/sq.ft.', '₹ 21,799/sq.ft.', '₹ 16,355/sq.ft.', '₹ 7,937/sq.ft.', '₹ 17,857/sq.ft.', '₹ 43,292/sq.ft.', '₹ 11,428/sq.ft.', '₹ 47,142/sq.ft.', '₹ 19,815/sq.ft.', '₹ 6,414/sq.ft.', '₹ 35,613/sq.ft.', '₹ 8,163/sq.ft.', '₹ 837/sq.ft.', '₹ 6,184/sq.ft.', '₹ 30,233/sq.ft.']

In [25]:
characters_to_remove = ["₹ ","/sq.ft.",","]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
Price_per_sqft = []

for string in price:
    modified_string = re.sub(pattern, "", string)
    Price_per_sqft.append(modified_string)

print(Price_per_sqft)

['521', '10889', '21783', '15966', '25862', '39954', '14666', '31428', '11230', '18713', '24013', '17333', '28322', '34810', '10250', '11111', '789', '34810', '24884', '37037', '15384', '30000', '39000', '6412', '18656', '13333', '10552', '31163', '20454', '24390', '32876', '19730', '5300', '9193', '10869', '40800', '5000', '15294', '13889', '35714', '65000', '16666', '18333', '8000', '22443', '22335', '25134', '18495', '24820', '28125', '18091', '18852', '31578', '6870', '11875', '30303', '14118', '10952', '38224', '18260', '28000', '8610', '5882', '17692', '40254', '24712', '15000', '4391', '15454', '13132', '25899', '32989', '25862', '12053', '11349', '15889', '13057', '11981', '53571', '12222', '15748', '3937', '20571', '16000', '22950', '485', '10766', '21739', '21000', '28304', '6779', '459', '25000', '12878', '47500', '7272', '26168', '3840', '7654', '28780', '3747', '18666', '10023', '23005', '7196', '29375', '45103', '19763', '7973', '18390', '11384', '12820', '6013', '17189', '6391', '7872', '4621', '10526', '22222', '28235', '29649', '17213', '15978', '24337', '59895', '21799', '16355', '7937', '17857', '43292', '11428', '47142', '19815', '6414', '35613', '8163', '837', '6184', '30233']

In [26]:
Price_per_SqFt = [int(x) for x in Price_per_sqft]

print(Price_per_SqFt)

[521, 10889, 21783, 15966, 25862, 39954, 14666, 31428, 11230, 18713, 24013, 17333, 28322, 34810, 10250, 11111, 789, 34810, 24884, 37037, 15384, 30000, 39000, 6412, 18656, 13333, 10552, 31163, 20454, 24390, 32876, 19730, 5300, 9193, 10869, 40800, 5000, 15294, 13889, 35714, 65000, 16666, 18333, 8000, 22443, 22335, 25134, 18495, 24820, 28125, 18091, 18852, 31578, 6870, 11875, 30303, 14118, 10952, 38224, 18260, 28000, 8610, 5882, 17692, 40254, 24712, 15000, 4391, 15454, 13132, 25899, 32989, 25862, 12053, 11349, 15889, 13057, 11981, 53571, 12222, 15748, 3937, 20571, 16000, 22950, 485, 10766, 21739, 21000, 28304, 6779, 459, 25000, 12878, 47500, 7272, 26168, 3840, 7654, 28780, 3747, 18666, 10023, 23005, 7196, 29375, 45103, 19763, 7973, 18390, 11384, 12820, 6013, 17189, 6391, 7872, 4621, 10526, 22222, 28235, 29649, 17213, 15978, 24337, 59895, 21799, 16355, 7937, 17857, 43292, 11428, 47142, 19815, 6414, 35613, 8163, 837, 6184, 30233]

# total sqft

In [27]:
sqft = df['total_sqft'].tolist()

print(sqft)

['1,089 sq.ft. (101 sq.m.) Plot Area', '613 sq.ft. (57 sq.m.) Carpet Area', '404 sq.ft. (38 sq.m.) Carpet Area', '595 sq.ft. (55 sq.m.) Super built-up Area', '1,450 sq.ft. (135 sq.m.) Built-up Area', '876 sq.ft. (81 sq.m.) Carpet Area', '1,500 sq.ft. (139 sq.m.) Super built-up Area', '525 sq.ft. (49 sq.m.) Built-up Area', '650 sq.ft. (60 sq.m.) Super built-up Area', '855 sq.ft. (79 sq.m.) Super built-up Area', '583 sq.ft. (54 sq.m.) Carpet Area', '1,500 sq.ft. (139 sq.m.) Carpet Area', '918 sq.ft. (85 sq.m.) Built-up Area', '1,200 sq.ft. (111 sq.m.) Built-up Area', '788 sq.ft. (73 sq.m.) Carpet Area', '630 sq.ft. (59 sq.m.) Carpet Area', '82,343 sq.ft. (7650 sq.m.) Plot Area', '790 sq.ft. (73 sq.m.) Carpet Area', '864 sq.ft. (80 sq.m.) Built-up Area', '1,350 sq.ft. (125 sq.m.) Carpet Area', '975 sq.ft. (91 sq.m.) Built-up Area', '450 sq.ft. (42 sq.m.) Carpet Area', '1,500 sq.ft. (139 sq.m.) Plot Area', '655 sq.ft. (61 sq.m.) Built-up Area', '670 sq.ft. (62 sq.m.) Built-up Area', '960 sq.ft. (89 sq.m.) Built-up Area', '398 sq.ft. (37 sq.m.) Carpet Area', '722 sq.ft. (67 sq.m.) Carpet Area', '1,260 sq.ft. (117 sq.m.) Built-up Area', '820 sq.ft. (76 sq.m.) Carpet Area', '1,460 sq.ft. (136 sq.m.) Carpet Area', '2,230 sq.ft. (207 sq.m.) Carpet Area', '855 sq.ft. (79 sq.m.) Built-up Area', '1,066 sq.ft. (99 sq.m.) Super built-up Area', '276 sq.ft. (26 sq.m.) Carpet Area', '625 sq.ft. (58 sq.m.) Carpet Area', '560 sq.ft. (52 sq.m.) Carpet Area', '1,700 sq.ft. (158 sq.m.) Super built-up Area', '720 sq.ft. (67 sq.m.) Carpet Area', '280 sq.ft. (26 sq.m.) Carpet Area', '1,250 sq.ft. (116 sq.m.) Built-up Area', '1,500 sq.ft. (139 sq.m.) Built-up Area', '300 sq.ft. (28 sq.m.) Built-up Area', '525 sq.ft. (49 sq.m.) Built-up Area', '802 sq.ft. (75 sq.m.) Super built-up Area', '591 sq.ft. (55 sq.m.) Super built-up Area', '557 sq.ft. (52 sq.m.) Carpet Area', '811 sq.ft. (75 sq.m.) Carpet Area', '1,531 sq.ft. (142 sq.m.) Built-up Area', '640 sq.ft. (59 sq.m.) Carpet Area', '1,415 sq.ft. (131 sq.m.) Super built-up Area', '610 sq.ft. (57 sq.m.) Built-up Area', '950 sq.ft. (88 sq.m.) Carpet Area', '655 sq.ft. (61 sq.m.) Carpet Area', '1,600 sq.ft. (149 sq.m.) Super built-up Area', '627 sq.ft. (58 sq.m.) Carpet Area', '850 sq.ft. (79 sq.m.) Built-up Area', '1,050 sq.ft. (98 sq.m.) Carpet Area', '771 sq.ft. (72 sq.m.) Carpet Area', '460 sq.ft. (43 sq.m.) Carpet Area', '1,250 sq.ft. (116 sq.m.) Carpet Area', '871 sq.ft. (81 sq.m.) Built-up Area', '595 sq.ft. (55 sq.m.) Carpet Area', '951 sq.ft. (88 sq.m.) Super built-up Area', '1,180 sq.ft. (110 sq.m.) Built-up Area', '870 sq.ft. (81 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Built-up Area', '945 sq.ft. (88 sq.m.) Carpet Area', '670 sq.ft. (62 sq.m.) Built-up Area', '594 sq.ft. (55 sq.m.) Super built-up Area', '695 sq.ft. (65 sq.m.) Carpet Area', '776 sq.ft. (72 sq.m.) Carpet Area', '1,060 sq.ft. (98 sq.m.) Built-up Area', '1,120 sq.ft. (104 sq.m.) Super built-up Area', '467 sq.ft. (43 sq.m.) Built-up Area', '900 sq.ft. (84 sq.m.) Super built-up Area', '919 sq.ft. (85 sq.m.) Super built-up Area', '1,085 sq.ft. (101 sq.m.) Super built-up Area', '725 sq.ft. (67 sq.m.) Carpet Area', '540 sq.ft. (50 sq.m.) Built-up Area', '635 sq.ft. (59 sq.m.) Carpet Area', '635 sq.ft. (59 sq.m.) Super built-up Area', '350 sq.ft. (33 sq.m.) Carpet Area', '1,125 sq.ft. (105 sq.m.) Super built-up Area', '1,525 sq.ft. (142 sq.m.) Carpet Area', '16,488 sq.ft. (1532 sq.m.) Plot Area', '613 sq.ft. (57 sq.m.) Carpet Area', '1,150 sq.ft. (107 sq.m.) Super built-up Area', '2,500 sq.ft. (232 sq.m.) Super built-up Area', '2,300 sq.ft. (214 sq.m.) Carpet Area', '590 sq.ft. (55 sq.m.) Built-up Area', '32,669 sq.ft. (3035 sq.m.) Plot Area', '575 sq.ft. (53 sq.m.) Built-up Area', '660 sq.ft. (61 sq.m.) Carpet Area', '400 sq.ft. (37 sq.m.) Carpet Area', '440 sq.ft. (41 sq.m.) Carpet Area', '835 sq.ft. (78 sq.m.) Built-up Area', '625 sq.ft. (58 sq.m.) Built-up Area', '810 sq.ft. (75 sq.m.) Super built-up Area', '3,822 sq.ft. (355 sq.m.) Built-up Area', '854 sq.ft. (79 sq.m.) Built-up Area', '3,000 sq.ft. (279 sq.m.) Plot Area', '419 sq.ft. (39 sq.m.) Carpet Area', '2,260 sq.ft. (210 sq.m.) Plot Area', '667 sq.ft. (62 sq.m.) Carpet Area', '800 sq.ft. (74 sq.m.) Built-up Area', '1,265 sq.ft. (118 sq.m.) Super built-up Area', '1,012 sq.ft. (94 sq.m.) Built-up Area', '370 sq.ft. (34 sq.m.) Carpet Area', '435 sq.ft. (40 sq.m.) Carpet Area', '1,098 sq.ft. (102 sq.m.) Carpet Area', '585 sq.ft. (54 sq.m.) Carpet Area', '765 sq.ft. (71 sq.m.) Built-up Area', '989 sq.ft. (92 sq.m.) Carpet Area', '1,017 sq.ft. (94 sq.m.) Super built-up Area', '672 sq.ft. (62 sq.m.) Super built-up Area', '1,082 sq.ft. (101 sq.m.) Carpet Area', '950 sq.ft. (88 sq.m.) Carpet Area', '630 sq.ft. (59 sq.m.) Carpet Area', '2,125 sq.ft. (197 sq.m.) Built-up Area', '1,113 sq.ft. (103 sq.m.) Carpet Area', '610 sq.ft. (57 sq.m.) Built-up Area', '557 sq.ft. (52 sq.m.) Carpet Area', '678 sq.ft. (63 sq.m.) Carpet Area', '960 sq.ft. (89 sq.m.) Carpet Area', '367 sq.ft. (34 sq.m.) Carpet Area', '1,070 sq.ft. (99 sq.m.) Carpet Area', '1,071 sq.ft. (100 sq.m.) Built-up Area', '420 sq.ft. (39 sq.m.) Carpet Area', '410 sq.ft. (38 sq.m.) Carpet Area', '630 sq.ft. (59 sq.m.) Built-up Area', '700 sq.ft. (65 sq.m.) Carpet Area', '757 sq.ft. (70 sq.m.) Carpet Area', '643 sq.ft. (60 sq.m.) Super built-up Area', '322 sq.ft. (30 sq.m.) Plot Area', '550 sq.ft. (51 sq.m.) Carpet Area', '2,150 sq.ft. (200 sq.m.) Plot Area', '663 sq.ft. (62 sq.m.) Super built-up Area', '1,074 sq.ft. (100 sq.m.) Carpet Area']

In [28]:
characters_to_remove = ["sq.ft."," sq.m.) Built-up Area",","]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
total = []

for string in sqft:
    modified_string = re.sub(pattern, "", string)
    total.append(modified_string)

print(total)

['1089(101Po', '613(57C', '404(38C', '595(55Sb-', '1450(135-', '876(81C', '1500(139Sb-', '525(49-', '650(60Sb-', '855(79Sb-', '583(54C', '1500(139C', '918(85-', '1200(111-', '788(73C', '630(59C', '82343(7650Po', '790(73C', '864(80-', '1350(125C', '975(91-', '450(42C', '1500(139Po', '655(61-', '670(62-', '960(89-', '398(37C', '722(67C', '1260(117-', '820(76C', '1460(136C', '2230(207C', '855(79-', '1066(99Sb-', '276(26C', '625(58C', '560(52C', '1700(158Sb-', '720(67C', '280(26C', '1250(116-', '1500(139-', '300(28-', '525(49-', '802(75Sb-', '591(55Sb-', '557(52C', '811(75C', '1531(142-', '640(59C', '1415(131Sb-', '610(57-', '950(88C', '655(61C', '1600(149Sb-', '627(58C', '850(79-', '1050(98C', '771(72C', '460(43C', '1250(116C', '871(81-', '595(55C', '951(88Sb-', '1180(110-', '870(81C', '2000(186-', '945(88C', '670(62-', '594(55Sb-', '695(65C', '776(72C', '1060(98-', '1120(104Sb-', '467(43-', '900(84Sb-', '919(85Sb-', '1085(101Sb-', '725(67C', '540(50-', '635(59C', '635(59Sb-', '350(33C', '1125(105Sb-', '1525(142C', '16488(1532Po', '613(57C', '1150(107Sb-', '2500(232Sb-', '2300(214C', '590(55-', '32669(3035Po', '575(53-', '660(61C', '400(37C', '440(41C', '835(78-', '625(58-', '810(75Sb-', '3822(355-', '854(79-', '3000(279Po', '419(39C', '2260(210Po', '667(62C', '800(74-', '1265(118Sb-', '1012(94-', '370(34C', '435(40C', '1098(102C', '585(54C', '765(71-', '989(92C', '1017(94Sb-', '672(62Sb-', '1082(101C', '950(88C', '630(59C', '2125(197-', '1113(103C', '610(57-', '557(52C', '678(63C', '960(89C', '367(34C', '1070(99C', '1071(100-', '420(39C', '410(38C', '630(59-', '700(65C', '757(70C', '643(60Sb-', '322(30Po', '550(51C', '2150(200Po', '663(62Sb-', '1074(100C']

In [29]:
pattern = "\(.*$"

#list to store modified strings
total_sqft = []

for string in total:
    modified_string = re.sub(pattern, "", string)
    total_sqft.append(modified_string)

print(total_sqft)

['1089', '613', '404', '595', '1450', '876', '1500', '525', '650', '855', '583', '1500', '918', '1200', '788', '630', '82343', '790', '864', '1350', '975', '450', '1500', '655', '670', '960', '398', '722', '1260', '820', '1460', '2230', '855', '1066', '276', '625', '560', '1700', '720', '280', '1250', '1500', '300', '525', '802', '591', '557', '811', '1531', '640', '1415', '610', '950', '655', '1600', '627', '850', '1050', '771', '460', '1250', '871', '595', '951', '1180', '870', '2000', '945', '670', '594', '695', '776', '1060', '1120', '467', '900', '919', '1085', '725', '540', '635', '635', '350', '1125', '1525', '16488', '613', '1150', '2500', '2300', '590', '32669', '575', '660', '400', '440', '835', '625', '810', '3822', '854', '3000', '419', '2260', '667', '800', '1265', '1012', '370', '435', '1098', '585', '765', '989', '1017', '672', '1082', '950', '630', '2125', '1113', '610', '557', '678', '960', '367', '1070', '1071', '420', '410', '630', '700', '757', '643', '322', '550', '2150', '663', '1074']

In [30]:
Total_SqFt = [int(x) for x in total_sqft]

print(Total_SqFt)

[1089, 613, 404, 595, 1450, 876, 1500, 525, 650, 855, 583, 1500, 918, 1200, 788, 630, 82343, 790, 864, 1350, 975, 450, 1500, 655, 670, 960, 398, 722, 1260, 820, 1460, 2230, 855, 1066, 276, 625, 560, 1700, 720, 280, 1250, 1500, 300, 525, 802, 591, 557, 811, 1531, 640, 1415, 610, 950, 655, 1600, 627, 850, 1050, 771, 460, 1250, 871, 595, 951, 1180, 870, 2000, 945, 670, 594, 695, 776, 1060, 1120, 467, 900, 919, 1085, 725, 540, 635, 635, 350, 1125, 1525, 16488, 613, 1150, 2500, 2300, 590, 32669, 575, 660, 400, 440, 835, 625, 810, 3822, 854, 3000, 419, 2260, 667, 800, 1265, 1012, 370, 435, 1098, 585, 765, 989, 1017, 672, 1082, 950, 630, 2125, 1113, 610, 557, 678, 960, 367, 1070, 1071, 420, 410, 630, 700, 757, 643, 322, 550, 2150, 663, 1074]

# Total price

In [31]:
total_price = df['price'].tolist()

print(total_price)

['₹ 5.68 L₹ 521/sq.ft.', '₹ 66.75 L₹ 10,889/sq.ft.', '₹ 83 L₹ 21,783/sq.ft.', '₹ 95 L₹ 15,966/sq.ft.', '₹ 3.75 Cr₹ 25,862/sq.ft.', '₹ 3.5 Cr₹ 39,954/sq.ft.', '₹ 2.2 Cr₹ 14,666/sq.ft.', '₹ 1.65 Cr₹ 31,428/sq.ft.', '₹ 73 L₹ 11,230/sq.ft.', '₹ 1.6 Cr₹ 18,713/sq.ft.', '₹ 1.4 Cr₹ 24,013/sq.ft.', '₹ 2.6 Cr₹ 17,333/sq.ft.', '₹ 2.6 Cr₹ 28,322/sq.ft.', '₹ 2.75 Cr₹ 34,810/sq.ft.', '₹ 86 L₹ 10,250/sq.ft.', '₹ 70 L₹ 11,111/sq.ft.', '₹ 6.5 Cr₹ 789/sq.ft.', '₹ 2.75 Cr₹ 34,810/sq.ft.', '₹ 2.15 Cr₹ 24,884/sq.ft.', '₹ 5 Cr₹ 37,037/sq.ft.', '₹ 1.5 Cr₹ 15,384/sq.ft.', '₹ 1.35 Cr₹ 30,000/sq.ft.', '₹ 5.5 Cr₹ 39,000/sq.ft.', '₹ 42 L₹ 6,412/sq.ft.', '₹ 1.25 Cr₹ 18,656/sq.ft.', '₹ 1.28 Cr₹ 13,333/sq.ft.', '₹ 42 L₹ 10,552/sq.ft.', '₹ 2.25 Cr₹ 31,163/sq.ft.', '₹ 2.25 Cr₹ 20,454/sq.ft.', '₹ 2 Cr₹ 24,390/sq.ft.', '₹ 4.8 Cr₹ 32,876/sq.ft.', '₹ 4.4 Cr₹ 19,730/sq.ft.', '₹ 45 L₹ 5,300/sq.ft.', '₹ 98 L₹ 9,193/sq.ft.', '₹ 30 L₹ 10,869/sq.ft.', '₹ 2.55 Cr₹ 40,800/sq.ft.', '₹ 28 L₹ 5,000/sq.ft.', '₹ 2.6 Cr₹ 15,294/sq.ft.', '₹ 1 Cr₹ 13,889/sq.ft.', '₹ 1 Cr₹ 35,714/sq.ft.', '₹ 8.13 Cr₹ 65,000/sq.ft.', '₹ 2.5 Cr₹ 16,666/sq.ft.', '₹ 55 L₹ 18,333/sq.ft.', '₹ 42 L₹ 8,000/sq.ft.', '₹ 1.8 Cr₹ 22,443/sq.ft.', '₹ 1.3 Cr₹ 22,335/sq.ft.', '₹ 1.4 Cr₹ 25,134/sq.ft.', '₹ 1.5 Cr₹ 18,495/sq.ft.', '₹ 3.8 Cr₹ 24,820/sq.ft.', '₹ 1.8 Cr₹ 28,125/sq.ft.', '₹ 2.56 Cr₹ 18,091/sq.ft.', '₹ 1.15 Cr₹ 18,852/sq.ft.', '₹ 3 Cr₹ 31,578/sq.ft.', '₹ 45 L₹ 6,870/sq.ft.', '₹ 1.9 Cr₹ 11,875/sq.ft.', '₹ 1.9 Cr₹ 30,303/sq.ft.', '₹ 1.2 Cr₹ 14,118/sq.ft.', '₹ 1.15 Cr₹ 10,952/sq.ft.', '₹ 2.95 Cr₹ 38,224/sq.ft.', '₹ 84 L₹ 18,260/sq.ft.', '₹ 3.5 Cr₹ 28,000/sq.ft.', '₹ 75 L₹ 8,610/sq.ft.', '₹ 35 L₹ 5,882/sq.ft.', '₹ 1.15 Cr₹ 17,692/sq.ft.', '₹ 4.75 Cr₹ 40,254/sq.ft.', '₹ 2.15 Cr₹ 24,712/sq.ft.', '₹ 3 Cr₹ 15,000/sq.ft.', '₹ 41.5 L₹ 4,391/sq.ft.', '₹ 68 L₹ 15,454/sq.ft.', '₹ 78 L₹ 13,132/sq.ft.', '₹ 1.8 Cr₹ 25,899/sq.ft.', '₹ 2.56 Cr₹ 32,989/sq.ft.', '₹ 1.65 Cr₹ 25,862/sq.ft.', '₹ 1.55 Cr₹ 12,053/sq.ft.', '₹ 53 L₹ 11,349/sq.ft.', '₹ 1.43 Cr₹ 15,889/sq.ft.', '₹ 1.2 Cr₹ 13,057/sq.ft.', '₹ 1.3 Cr₹ 11,981/sq.ft.', '₹ 3.75 Cr₹ 53,571/sq.ft.', '₹ 66 L₹ 12,222/sq.ft.', '₹ 1 Cr₹ 15,748/sq.ft.', '₹ 25 L₹ 3,937/sq.ft.', '₹ 72 L₹ 20,571/sq.ft.', '₹ 1.8 Cr₹ 16,000/sq.ft.', '₹ 3.5 Cr₹ 22,950/sq.ft.', '₹ 80 L₹ 485/sq.ft.', '₹ 66 L₹ 10,766/sq.ft.', '₹ 2.5 Cr₹ 21,739/sq.ft.', '₹ 5.25 Cr₹ 21,000/sq.ft.', '₹ 6.51 Cr₹ 28,304/sq.ft.', '₹ 40 L₹ 6,779/sq.ft.', '₹ 1.5 Cr₹ 459/sq.ft.', '₹ 1.25 Cr₹ 25,000/sq.ft.', '₹ 70 L₹ 12,878/sq.ft.', '₹ 1.9 Cr₹ 47,500/sq.ft.', '₹ 32 L₹ 7,272/sq.ft.', '₹ 1.4 Cr₹ 26,168/sq.ft.', '₹ 21 L₹ 3,840/sq.ft.', '₹ 62 L₹ 7,654/sq.ft.', '₹ 11 Cr₹ 28,780/sq.ft.', '₹ 32 L₹ 3,747/sq.ft.', '₹ 5.6 Cr₹ 18,666/sq.ft.', '₹ 42 L₹ 10,023/sq.ft.', '₹ 5.2 Cr₹ 23,005/sq.ft.', '₹ 48 L₹ 7,196/sq.ft.', '₹ 2.35 Cr₹ 29,375/sq.ft.', '₹ 3.5 Cr₹ 45,103/sq.ft.', '₹ 1.95 Cr₹ 19,763/sq.ft.', '₹ 29.5 L₹ 7,973/sq.ft.', '₹ 80 L₹ 18,390/sq.ft.', '₹ 1.25 Cr₹ 11,384/sq.ft.', '₹ 75 L₹ 12,820/sq.ft.', '₹ 46 L₹ 6,013/sq.ft.', '₹ 1.7 Cr₹ 17,189/sq.ft.', '₹ 65 L₹ 6,391/sq.ft.', '₹ 52 L₹ 7,872/sq.ft.', '₹ 50 L₹ 4,621/sq.ft.', '₹ 1 Cr₹ 10,526/sq.ft.', '₹ 1.4 Cr₹ 22,222/sq.ft.', '₹ 5.75 Cr₹ 28,235/sq.ft.', '₹ 3.3 Cr₹ 29,649/sq.ft.', '₹ 1.05 Cr₹ 17,213/sq.ft.', '₹ 89 L₹ 15,978/sq.ft.', '₹ 1.65 Cr₹ 24,337/sq.ft.', '₹ 5.75 Cr₹ 59,895/sq.ft.', '₹ 80 L₹ 21,799/sq.ft.', '₹ 1.6 Cr₹ 16,355/sq.ft.', '₹ 85 L₹ 7,937/sq.ft.', '₹ 75 L₹ 17,857/sq.ft.', '₹ 1.77 Cr₹ 43,292/sq.ft.', '₹ 72 L₹ 11,428/sq.ft.', '₹ 3.3 Cr₹ 47,142/sq.ft.', '₹ 1.5 Cr₹ 19,815/sq.ft.', '₹ 39 L₹ 6,414/sq.ft.', '₹ 1.15 Cr₹ 35,613/sq.ft.', '₹ 44.9 L₹ 8,163/sq.ft.', '₹ 18 L₹ 837/sq.ft.', '₹ 41 L₹ 6,184/sq.ft.', '₹ 3.25 Cr₹ 30,233/sq.ft.']

In [32]:
for price in total_price:
    match = re.search(r'₹ (.*)', price)
    print(match.group(1))

5.68 L₹ 521/sq.ft.
66.75 L₹ 10,889/sq.ft.
83 L₹ 21,783/sq.ft.
95 L₹ 15,966/sq.ft.
3.75 Cr₹ 25,862/sq.ft.
3.5 Cr₹ 39,954/sq.ft.
2.2 Cr₹ 14,666/sq.ft.
1.65 Cr₹ 31,428/sq.ft.
73 L₹ 11,230/sq.ft.
1.6 Cr₹ 18,713/sq.ft.
1.4 Cr₹ 24,013/sq.ft.
2.6 Cr₹ 17,333/sq.ft.
2.6 Cr₹ 28,322/sq.ft.
2.75 Cr₹ 34,810/sq.ft.
86 L₹ 10,250/sq.ft.
70 L₹ 11,111/sq.ft.
6.5 Cr₹ 789/sq.ft.
2.75 Cr₹ 34,810/sq.ft.
2.15 Cr₹ 24,884/sq.ft.
5 Cr₹ 37,037/sq.ft.
1.5 Cr₹ 15,384/sq.ft.
1.35 Cr₹ 30,000/sq.ft.
5.5 Cr₹ 39,000/sq.ft.
42 L₹ 6,412/sq.ft.
1.25 Cr₹ 18,656/sq.ft.
1.28 Cr₹ 13,333/sq.ft.
42 L₹ 10,552/sq.ft.
2.25 Cr₹ 31,163/sq.ft.
2.25 Cr₹ 20,454/sq.ft.
2 Cr₹ 24,390/sq.ft.
4.8 Cr₹ 32,876/sq.ft.
4.4 Cr₹ 19,730/sq.ft.
45 L₹ 5,300/sq.ft.
98 L₹ 9,193/sq.ft.
30 L₹ 10,869/sq.ft.
2.55 Cr₹ 40,800/sq.ft.
28 L₹ 5,000/sq.ft.
2.6 Cr₹ 15,294/sq.ft.
1 Cr₹ 13,889/sq.ft.
1 Cr₹ 35,714/sq.ft.
8.13 Cr₹ 65,000/sq.ft.
2.5 Cr₹ 16,666/sq.ft.
55 L₹ 18,333/sq.ft.
42 L₹ 8,000/sq.ft.
1.8 Cr₹ 22,443/sq.ft.
1.3 Cr₹ 22,335/sq.ft.
1.4 Cr₹ 25,134/sq.ft.
1.5 Cr₹ 18,495/sq.ft.
3.8 Cr₹ 24,820/sq.ft.
1.8 Cr₹ 28,125/sq.ft.
2.56 Cr₹ 18,091/sq.ft.
1.15 Cr₹ 18,852/sq.ft.
3 Cr₹ 31,578/sq.ft.
45 L₹ 6,870/sq.ft.
1.9 Cr₹ 11,875/sq.ft.
1.9 Cr₹ 30,303/sq.ft.
1.2 Cr₹ 14,118/sq.ft.
1.15 Cr₹ 10,952/sq.ft.
2.95 Cr₹ 38,224/sq.ft.
84 L₹ 18,260/sq.ft.
3.5 Cr₹ 28,000/sq.ft.
75 L₹ 8,610/sq.ft.
35 L₹ 5,882/sq.ft.
1.15 Cr₹ 17,692/sq.ft.
4.75 Cr₹ 40,254/sq.ft.
2.15 Cr₹ 24,712/sq.ft.
3 Cr₹ 15,000/sq.ft.
41.5 L₹ 4,391/sq.ft.
68 L₹ 15,454/sq.ft.
78 L₹ 13,132/sq.ft.
1.8 Cr₹ 25,899/sq.ft.
2.56 Cr₹ 32,989/sq.ft.
1.65 Cr₹ 25,862/sq.ft.
1.55 Cr₹ 12,053/sq.ft.
53 L₹ 11,349/sq.ft.
1.43 Cr₹ 15,889/sq.ft.
1.2 Cr₹ 13,057/sq.ft.
1.3 Cr₹ 11,981/sq.ft.
3.75 Cr₹ 53,571/sq.ft.
66 L₹ 12,222/sq.ft.
1 Cr₹ 15,748/sq.ft.
25 L₹ 3,937/sq.ft.
72 L₹ 20,571/sq.ft.
1.8 Cr₹ 16,000/sq.ft.
3.5 Cr₹ 22,950/sq.ft.
80 L₹ 485/sq.ft.
66 L₹ 10,766/sq.ft.
2.5 Cr₹ 21,739/sq.ft.
5.25 Cr₹ 21,000/sq.ft.
6.51 Cr₹ 28,304/sq.ft.
40 L₹ 6,779/sq.ft.
1.5 Cr₹ 459/sq.ft.
1.25 Cr₹ 25,000/sq.ft.
70 L₹ 12,878/sq.ft.
1.9 Cr₹ 47,500/sq.ft.
32 L₹ 7,272/sq.ft.
1.4 Cr₹ 26,168/sq.ft.
21 L₹ 3,840/sq.ft.
62 L₹ 7,654/sq.ft.
11 Cr₹ 28,780/sq.ft.
32 L₹ 3,747/sq.ft.
5.6 Cr₹ 18,666/sq.ft.
42 L₹ 10,023/sq.ft.
5.2 Cr₹ 23,005/sq.ft.
48 L₹ 7,196/sq.ft.
2.35 Cr₹ 29,375/sq.ft.
3.5 Cr₹ 45,103/sq.ft.
1.95 Cr₹ 19,763/sq.ft.
29.5 L₹ 7,973/sq.ft.
80 L₹ 18,390/sq.ft.
1.25 Cr₹ 11,384/sq.ft.
75 L₹ 12,820/sq.ft.
46 L₹ 6,013/sq.ft.
1.7 Cr₹ 17,189/sq.ft.
65 L₹ 6,391/sq.ft.
52 L₹ 7,872/sq.ft.
50 L₹ 4,621/sq.ft.
1 Cr₹ 10,526/sq.ft.
1.4 Cr₹ 22,222/sq.ft.
5.75 Cr₹ 28,235/sq.ft.
3.3 Cr₹ 29,649/sq.ft.
1.05 Cr₹ 17,213/sq.ft.
89 L₹ 15,978/sq.ft.
1.65 Cr₹ 24,337/sq.ft.
5.75 Cr₹ 59,895/sq.ft.
80 L₹ 21,799/sq.ft.
1.6 Cr₹ 16,355/sq.ft.
85 L₹ 7,937/sq.ft.
75 L₹ 17,857/sq.ft.
1.77 Cr₹ 43,292/sq.ft.
72 L₹ 11,428/sq.ft.
3.3 Cr₹ 47,142/sq.ft.
1.5 Cr₹ 19,815/sq.ft.
39 L₹ 6,414/sq.ft.
1.15 Cr₹ 35,613/sq.ft.
44.9 L₹ 8,163/sq.ft.
18 L₹ 837/sq.ft.
41 L₹ 6,184/sq.ft.
3.25 Cr₹ 30,233/sq.ft.

In [33]:
for price in total_price:
    matches = re.findall(r'₹\s*\d+[.,]?\d*', price)
    print(matches)

['₹ 5.68', '₹ 521']
['₹ 66.75', '₹ 10,889']
['₹ 83', '₹ 21,783']
['₹ 95', '₹ 15,966']
['₹ 3.75', '₹ 25,862']
['₹ 3.5', '₹ 39,954']
['₹ 2.2', '₹ 14,666']
['₹ 1.65', '₹ 31,428']
['₹ 73', '₹ 11,230']
['₹ 1.6', '₹ 18,713']
['₹ 1.4', '₹ 24,013']
['₹ 2.6', '₹ 17,333']
['₹ 2.6', '₹ 28,322']
['₹ 2.75', '₹ 34,810']
['₹ 86', '₹ 10,250']
['₹ 70', '₹ 11,111']
['₹ 6.5', '₹ 789']
['₹ 2.75', '₹ 34,810']
['₹ 2.15', '₹ 24,884']
['₹ 5', '₹ 37,037']
['₹ 1.5', '₹ 15,384']
['₹ 1.35', '₹ 30,000']
['₹ 5.5', '₹ 39,000']
['₹ 42', '₹ 6,412']
['₹ 1.25', '₹ 18,656']
['₹ 1.28', '₹ 13,333']
['₹ 42', '₹ 10,552']
['₹ 2.25', '₹ 31,163']
['₹ 2.25', '₹ 20,454']
['₹ 2', '₹ 24,390']
['₹ 4.8', '₹ 32,876']
['₹ 4.4', '₹ 19,730']
['₹ 45', '₹ 5,300']
['₹ 98', '₹ 9,193']
['₹ 30', '₹ 10,869']
['₹ 2.55', '₹ 40,800']
['₹ 28', '₹ 5,000']
['₹ 2.6', '₹ 15,294']
['₹ 1', '₹ 13,889']
['₹ 1', '₹ 35,714']
['₹ 8.13', '₹ 65,000']
['₹ 2.5', '₹ 16,666']
['₹ 55', '₹ 18,333']
['₹ 42', '₹ 8,000']
['₹ 1.8', '₹ 22,443']
['₹ 1.3', '₹ 22,335']
['₹ 1.4', '₹ 25,134']
['₹ 1.5', '₹ 18,495']
['₹ 3.8', '₹ 24,820']
['₹ 1.8', '₹ 28,125']
['₹ 2.56', '₹ 18,091']
['₹ 1.15', '₹ 18,852']
['₹ 3', '₹ 31,578']
['₹ 45', '₹ 6,870']
['₹ 1.9', '₹ 11,875']
['₹ 1.9', '₹ 30,303']
['₹ 1.2', '₹ 14,118']
['₹ 1.15', '₹ 10,952']
['₹ 2.95', '₹ 38,224']
['₹ 84', '₹ 18,260']
['₹ 3.5', '₹ 28,000']
['₹ 75', '₹ 8,610']
['₹ 35', '₹ 5,882']
['₹ 1.15', '₹ 17,692']
['₹ 4.75', '₹ 40,254']
['₹ 2.15', '₹ 24,712']
['₹ 3', '₹ 15,000']
['₹ 41.5', '₹ 4,391']
['₹ 68', '₹ 15,454']
['₹ 78', '₹ 13,132']
['₹ 1.8', '₹ 25,899']
['₹ 2.56', '₹ 32,989']
['₹ 1.65', '₹ 25,862']
['₹ 1.55', '₹ 12,053']
['₹ 53', '₹ 11,349']
['₹ 1.43', '₹ 15,889']
['₹ 1.2', '₹ 13,057']
['₹ 1.3', '₹ 11,981']
['₹ 3.75', '₹ 53,571']
['₹ 66', '₹ 12,222']
['₹ 1', '₹ 15,748']
['₹ 25', '₹ 3,937']
['₹ 72', '₹ 20,571']
['₹ 1.8', '₹ 16,000']
['₹ 3.5', '₹ 22,950']
['₹ 80', '₹ 485']
['₹ 66', '₹ 10,766']
['₹ 2.5', '₹ 21,739']
['₹ 5.25', '₹ 21,000']
['₹ 6.51', '₹ 28,304']
['₹ 40', '₹ 6,779']
['₹ 1.5', '₹ 459']
['₹ 1.25', '₹ 25,000']
['₹ 70', '₹ 12,878']
['₹ 1.9', '₹ 47,500']
['₹ 32', '₹ 7,272']
['₹ 1.4', '₹ 26,168']
['₹ 21', '₹ 3,840']
['₹ 62', '₹ 7,654']
['₹ 11', '₹ 28,780']
['₹ 32', '₹ 3,747']
['₹ 5.6', '₹ 18,666']
['₹ 42', '₹ 10,023']
['₹ 5.2', '₹ 23,005']
['₹ 48', '₹ 7,196']
['₹ 2.35', '₹ 29,375']
['₹ 3.5', '₹ 45,103']
['₹ 1.95', '₹ 19,763']
['₹ 29.5', '₹ 7,973']
['₹ 80', '₹ 18,390']
['₹ 1.25', '₹ 11,384']
['₹ 75', '₹ 12,820']
['₹ 46', '₹ 6,013']
['₹ 1.7', '₹ 17,189']
['₹ 65', '₹ 6,391']
['₹ 52', '₹ 7,872']
['₹ 50', '₹ 4,621']
['₹ 1', '₹ 10,526']
['₹ 1.4', '₹ 22,222']
['₹ 5.75', '₹ 28,235']
['₹ 3.3', '₹ 29,649']
['₹ 1.05', '₹ 17,213']
['₹ 89', '₹ 15,978']
['₹ 1.65', '₹ 24,337']
['₹ 5.75', '₹ 59,895']
['₹ 80', '₹ 21,799']
['₹ 1.6', '₹ 16,355']
['₹ 85', '₹ 7,937']
['₹ 75', '₹ 17,857']
['₹ 1.77', '₹ 43,292']
['₹ 72', '₹ 11,428']
['₹ 3.3', '₹ 47,142']
['₹ 1.5', '₹ 19,815']
['₹ 39', '₹ 6,414']
['₹ 1.15', '₹ 35,613']
['₹ 44.9', '₹ 8,163']
['₹ 18', '₹ 837']
['₹ 41', '₹ 6,184']
['₹ 3.25', '₹ 30,233']

In [34]:
matches = []

for price in total_price:
    matches.extend(re.findall(r'₹\s*\d+(?:[,.]\d+)*', price))

print(matches)

['₹ 5.68', '₹ 521', '₹ 66.75', '₹ 10,889', '₹ 83', '₹ 21,783', '₹ 95', '₹ 15,966', '₹ 3.75', '₹ 25,862', '₹ 3.5', '₹ 39,954', '₹ 2.2', '₹ 14,666', '₹ 1.65', '₹ 31,428', '₹ 73', '₹ 11,230', '₹ 1.6', '₹ 18,713', '₹ 1.4', '₹ 24,013', '₹ 2.6', '₹ 17,333', '₹ 2.6', '₹ 28,322', '₹ 2.75', '₹ 34,810', '₹ 86', '₹ 10,250', '₹ 70', '₹ 11,111', '₹ 6.5', '₹ 789', '₹ 2.75', '₹ 34,810', '₹ 2.15', '₹ 24,884', '₹ 5', '₹ 37,037', '₹ 1.5', '₹ 15,384', '₹ 1.35', '₹ 30,000', '₹ 5.5', '₹ 39,000', '₹ 42', '₹ 6,412', '₹ 1.25', '₹ 18,656', '₹ 1.28', '₹ 13,333', '₹ 42', '₹ 10,552', '₹ 2.25', '₹ 31,163', '₹ 2.25', '₹ 20,454', '₹ 2', '₹ 24,390', '₹ 4.8', '₹ 32,876', '₹ 4.4', '₹ 19,730', '₹ 45', '₹ 5,300', '₹ 98', '₹ 9,193', '₹ 30', '₹ 10,869', '₹ 2.55', '₹ 40,800', '₹ 28', '₹ 5,000', '₹ 2.6', '₹ 15,294', '₹ 1', '₹ 13,889', '₹ 1', '₹ 35,714', '₹ 8.13', '₹ 65,000', '₹ 2.5', '₹ 16,666', '₹ 55', '₹ 18,333', '₹ 42', '₹ 8,000', '₹ 1.8', '₹ 22,443', '₹ 1.3', '₹ 22,335', '₹ 1.4', '₹ 25,134', '₹ 1.5', '₹ 18,495', '₹ 3.8', '₹ 24,820', '₹ 1.8', '₹ 28,125', '₹ 2.56', '₹ 18,091', '₹ 1.15', '₹ 18,852', '₹ 3', '₹ 31,578', '₹ 45', '₹ 6,870', '₹ 1.9', '₹ 11,875', '₹ 1.9', '₹ 30,303', '₹ 1.2', '₹ 14,118', '₹ 1.15', '₹ 10,952', '₹ 2.95', '₹ 38,224', '₹ 84', '₹ 18,260', '₹ 3.5', '₹ 28,000', '₹ 75', '₹ 8,610', '₹ 35', '₹ 5,882', '₹ 1.15', '₹ 17,692', '₹ 4.75', '₹ 40,254', '₹ 2.15', '₹ 24,712', '₹ 3', '₹ 15,000', '₹ 41.5', '₹ 4,391', '₹ 68', '₹ 15,454', '₹ 78', '₹ 13,132', '₹ 1.8', '₹ 25,899', '₹ 2.56', '₹ 32,989', '₹ 1.65', '₹ 25,862', '₹ 1.55', '₹ 12,053', '₹ 53', '₹ 11,349', '₹ 1.43', '₹ 15,889', '₹ 1.2', '₹ 13,057', '₹ 1.3', '₹ 11,981', '₹ 3.75', '₹ 53,571', '₹ 66', '₹ 12,222', '₹ 1', '₹ 15,748', '₹ 25', '₹ 3,937', '₹ 72', '₹ 20,571', '₹ 1.8', '₹ 16,000', '₹ 3.5', '₹ 22,950', '₹ 80', '₹ 485', '₹ 66', '₹ 10,766', '₹ 2.5', '₹ 21,739', '₹ 5.25', '₹ 21,000', '₹ 6.51', '₹ 28,304', '₹ 40', '₹ 6,779', '₹ 1.5', '₹ 459', '₹ 1.25', '₹ 25,000', '₹ 70', '₹ 12,878', '₹ 1.9', '₹ 47,500', '₹ 32', '₹ 7,272', '₹ 1.4', '₹ 26,168', '₹ 21', '₹ 3,840', '₹ 62', '₹ 7,654', '₹ 11', '₹ 28,780', '₹ 32', '₹ 3,747', '₹ 5.6', '₹ 18,666', '₹ 42', '₹ 10,023', '₹ 5.2', '₹ 23,005', '₹ 48', '₹ 7,196', '₹ 2.35', '₹ 29,375', '₹ 3.5', '₹ 45,103', '₹ 1.95', '₹ 19,763', '₹ 29.5', '₹ 7,973', '₹ 80', '₹ 18,390', '₹ 1.25', '₹ 11,384', '₹ 75', '₹ 12,820', '₹ 46', '₹ 6,013', '₹ 1.7', '₹ 17,189', '₹ 65', '₹ 6,391', '₹ 52', '₹ 7,872', '₹ 50', '₹ 4,621', '₹ 1', '₹ 10,526', '₹ 1.4', '₹ 22,222', '₹ 5.75', '₹ 28,235', '₹ 3.3', '₹ 29,649', '₹ 1.05', '₹ 17,213', '₹ 89', '₹ 15,978', '₹ 1.65', '₹ 24,337', '₹ 5.75', '₹ 59,895', '₹ 80', '₹ 21,799', '₹ 1.6', '₹ 16,355', '₹ 85', '₹ 7,937', '₹ 75', '₹ 17,857', '₹ 1.77', '₹ 43,292', '₹ 72', '₹ 11,428', '₹ 3.3', '₹ 47,142', '₹ 1.5', '₹ 19,815', '₹ 39', '₹ 6,414', '₹ 1.15', '₹ 35,613', '₹ 44.9', '₹ 8,163', '₹ 18', '₹ 837', '₹ 41', '₹ 6,184', '₹ 3.25', '₹ 30,233']

In [35]:
new_matches = matches[0::2]
print(new_matches)

['₹ 5.68', '₹ 66.75', '₹ 83', '₹ 95', '₹ 3.75', '₹ 3.5', '₹ 2.2', '₹ 1.65', '₹ 73', '₹ 1.6', '₹ 1.4', '₹ 2.6', '₹ 2.6', '₹ 2.75', '₹ 86', '₹ 70', '₹ 6.5', '₹ 2.75', '₹ 2.15', '₹ 5', '₹ 1.5', '₹ 1.35', '₹ 5.5', '₹ 42', '₹ 1.25', '₹ 1.28', '₹ 42', '₹ 2.25', '₹ 2.25', '₹ 2', '₹ 4.8', '₹ 4.4', '₹ 45', '₹ 98', '₹ 30', '₹ 2.55', '₹ 28', '₹ 2.6', '₹ 1', '₹ 1', '₹ 8.13', '₹ 2.5', '₹ 55', '₹ 42', '₹ 1.8', '₹ 1.3', '₹ 1.4', '₹ 1.5', '₹ 3.8', '₹ 1.8', '₹ 2.56', '₹ 1.15', '₹ 3', '₹ 45', '₹ 1.9', '₹ 1.9', '₹ 1.2', '₹ 1.15', '₹ 2.95', '₹ 84', '₹ 3.5', '₹ 75', '₹ 35', '₹ 1.15', '₹ 4.75', '₹ 2.15', '₹ 3', '₹ 41.5', '₹ 68', '₹ 78', '₹ 1.8', '₹ 2.56', '₹ 1.65', '₹ 1.55', '₹ 53', '₹ 1.43', '₹ 1.2', '₹ 1.3', '₹ 3.75', '₹ 66', '₹ 1', '₹ 25', '₹ 72', '₹ 1.8', '₹ 3.5', '₹ 80', '₹ 66', '₹ 2.5', '₹ 5.25', '₹ 6.51', '₹ 40', '₹ 1.5', '₹ 1.25', '₹ 70', '₹ 1.9', '₹ 32', '₹ 1.4', '₹ 21', '₹ 62', '₹ 11', '₹ 32', '₹ 5.6', '₹ 42', '₹ 5.2', '₹ 48', '₹ 2.35', '₹ 3.5', '₹ 1.95', '₹ 29.5', '₹ 80', '₹ 1.25', '₹ 75', '₹ 46', '₹ 1.7', '₹ 65', '₹ 52', '₹ 50', '₹ 1', '₹ 1.4', '₹ 5.75', '₹ 3.3', '₹ 1.05', '₹ 89', '₹ 1.65', '₹ 5.75', '₹ 80', '₹ 1.6', '₹ 85', '₹ 75', '₹ 1.77', '₹ 72', '₹ 3.3', '₹ 1.5', '₹ 39', '₹ 1.15', '₹ 44.9', '₹ 18', '₹ 41', '₹ 3.25']

In [36]:
new_matches = [str(x.replace("₹ ","")) if type(x) == str else x for x in new_matches]
print(new_matches)

['5.68', '66.75', '83', '95', '3.75', '3.5', '2.2', '1.65', '73', '1.6', '1.4', '2.6', '2.6', '2.75', '86', '70', '6.5', '2.75', '2.15', '5', '1.5', '1.35', '5.5', '42', '1.25', '1.28', '42', '2.25', '2.25', '2', '4.8', '4.4', '45', '98', '30', '2.55', '28', '2.6', '1', '1', '8.13', '2.5', '55', '42', '1.8', '1.3', '1.4', '1.5', '3.8', '1.8', '2.56', '1.15', '3', '45', '1.9', '1.9', '1.2', '1.15', '2.95', '84', '3.5', '75', '35', '1.15', '4.75', '2.15', '3', '41.5', '68', '78', '1.8', '2.56', '1.65', '1.55', '53', '1.43', '1.2', '1.3', '3.75', '66', '1', '25', '72', '1.8', '3.5', '80', '66', '2.5', '5.25', '6.51', '40', '1.5', '1.25', '70', '1.9', '32', '1.4', '21', '62', '11', '32', '5.6', '42', '5.2', '48', '2.35', '3.5', '1.95', '29.5', '80', '1.25', '75', '46', '1.7', '65', '52', '50', '1', '1.4', '5.75', '3.3', '1.05', '89', '1.65', '5.75', '80', '1.6', '85', '75', '1.77', '72', '3.3', '1.5', '39', '1.15', '44.9', '18', '41', '3.25']

In [37]:
for i, val in enumerate(new_matches):
    if ',' in val:
        # keep as it is
        continue
    elif '.' in val:
        if val.index('.') == 1:
            new_matches[i] = float(val) * 10000000
        else:
            new_matches[i] = float(val) * 100000
    elif len(val) == 2:
        new_matches[i] = int(val) * 100000
    else:
        new_matches[i] = int(val) * 10000000

In [38]:
new_matches

[56800000.0,
 6675000.0,
 8300000,
 9500000,
 37500000.0,
 35000000.0,
 22000000.0,
 16500000.0,
 7300000,
 16000000.0,
 14000000.0,
 26000000.0,
 26000000.0,
 27500000.0,
 8600000,
 7000000,
 65000000.0,
 27500000.0,
 21500000.0,
 50000000,
 15000000.0,
 13500000.0,
 55000000.0,
 4200000,
 12500000.0,
 12800000.0,
 4200000,
 22500000.0,
 22500000.0,
 20000000,
 48000000.0,
 44000000.0,
 4500000,
 9800000,
 3000000,
 25500000.0,
 2800000,
 26000000.0,
 10000000,
 10000000,
 81300000.00000001,
 25000000.0,
 5500000,
 4200000,
 18000000.0,
 13000000.0,
 14000000.0,
 15000000.0,
 38000000.0,
 18000000.0,
 25600000.0,
 11500000.0,
 30000000,
 4500000,
 19000000.0,
 19000000.0,
 12000000.0,
 11500000.0,
 29500000.0,
 8400000,
 35000000.0,
 7500000,
 3500000,
 11500000.0,
 47500000.0,
 21500000.0,
 30000000,
 4150000.0,
 6800000,
 7800000,
 18000000.0,
 25600000.0,
 16500000.0,
 15500000.0,
 5300000,
 14300000.0,
 12000000.0,
 13000000.0,
 37500000.0,
 6600000,
 10000000,
 2500000,
 7200000,
 18000000.0,
 35000000.0,
 8000000,
 6600000,
 25000000.0,
 52500000.0,
 65100000.0,
 4000000,
 15000000.0,
 12500000.0,
 7000000,
 19000000.0,
 3200000,
 14000000.0,
 2100000,
 6200000,
 1100000,
 3200000,
 56000000.0,
 4200000,
 52000000.0,
 4800000,
 23500000.0,
 35000000.0,
 19500000.0,
 2950000.0,
 8000000,
 12500000.0,
 7500000,
 4600000,
 17000000.0,
 6500000,
 5200000,
 5000000,
 10000000,
 14000000.0,
 57500000.0,
 33000000.0,
 10500000.0,
 8900000,
 16500000.0,
 57500000.0,
 8000000,
 16000000.0,
 8500000,
 7500000,
 17700000.0,
 7200000,
 33000000.0,
 15000000.0,
 3900000,
 11500000.0,
 4490000.0,
 1800000,
 4100000,
 32500000.0]

In [39]:
len(new_matches)

139

In [40]:
for i, val in enumerate(new_matches):
    if isinstance(val, str):
        val = val.replace(',','') # remove the comma from the string
    new_matches[i] = int(val) # convert to integer

In [41]:
new_matches

[56800000,
 6675000,
 8300000,
 9500000,
 37500000,
 35000000,
 22000000,
 16500000,
 7300000,
 16000000,
 14000000,
 26000000,
 26000000,
 27500000,
 8600000,
 7000000,
 65000000,
 27500000,
 21500000,
 50000000,
 15000000,
 13500000,
 55000000,
 4200000,
 12500000,
 12800000,
 4200000,
 22500000,
 22500000,
 20000000,
 48000000,
 44000000,
 4500000,
 9800000,
 3000000,
 25500000,
 2800000,
 26000000,
 10000000,
 10000000,
 81300000,
 25000000,
 5500000,
 4200000,
 18000000,
 13000000,
 14000000,
 15000000,
 38000000,
 18000000,
 25600000,
 11500000,
 30000000,
 4500000,
 19000000,
 19000000,
 12000000,
 11500000,
 29500000,
 8400000,
 35000000,
 7500000,
 3500000,
 11500000,
 47500000,
 21500000,
 30000000,
 4150000,
 6800000,
 7800000,
 18000000,
 25600000,
 16500000,
 15500000,
 5300000,
 14300000,
 12000000,
 13000000,
 37500000,
 6600000,
 10000000,
 2500000,
 7200000,
 18000000,
 35000000,
 8000000,
 6600000,
 25000000,
 52500000,
 65100000,
 4000000,
 15000000,
 12500000,
 7000000,
 19000000,
 3200000,
 14000000,
 2100000,
 6200000,
 1100000,
 3200000,
 56000000,
 4200000,
 52000000,
 4800000,
 23500000,
 35000000,
 19500000,
 2950000,
 8000000,
 12500000,
 7500000,
 4600000,
 17000000,
 6500000,
 5200000,
 5000000,
 10000000,
 14000000,
 57500000,
 33000000,
 10500000,
 8900000,
 16500000,
 57500000,
 8000000,
 16000000,
 8500000,
 7500000,
 17700000,
 7200000,
 33000000,
 15000000,
 3900000,
 11500000,
 4490000,
 1800000,
 4100000,
 32500000]

# builtup area

In [42]:
builtup_area = df['builtup_area'].tolist()

print(builtup_area)

['(101 sq.m.) Plot Area', '(57 sq.m.) Carpet Area', '(38 sq.m.) Carpet Area', '(55 sq.m.) Super built-up Area', '(135 sq.m.) Built-up Area', '(81 sq.m.) Carpet Area', '(139 sq.m.) Super built-up Area', '(49 sq.m.) Built-up Area', '(60 sq.m.) Super built-up Area', '(79 sq.m.) Super built-up Area', '(54 sq.m.) Carpet Area', '(139 sq.m.) Carpet Area', '(85 sq.m.) Built-up Area', '(111 sq.m.) Built-up Area', '(73 sq.m.) Carpet Area', '(59 sq.m.) Carpet Area', '(7650 sq.m.) Plot Area', '(73 sq.m.) Carpet Area', '(80 sq.m.) Built-up Area', '(125 sq.m.) Carpet Area', '(91 sq.m.) Built-up Area', '(42 sq.m.) Carpet Area', '(139 sq.m.) Plot Area', '(61 sq.m.) Built-up Area', '(62 sq.m.) Built-up Area', '(89 sq.m.) Built-up Area', '(37 sq.m.) Carpet Area', '(67 sq.m.) Carpet Area', '(117 sq.m.) Built-up Area', '(76 sq.m.) Carpet Area', '(136 sq.m.) Carpet Area', '(207 sq.m.) Carpet Area', '(79 sq.m.) Built-up Area', '(99 sq.m.) Super built-up Area', '(26 sq.m.) Carpet Area', '(58 sq.m.) Carpet Area', '(52 sq.m.) Carpet Area', '(158 sq.m.) Super built-up Area', '(67 sq.m.) Carpet Area', '(26 sq.m.) Carpet Area', '(116 sq.m.) Built-up Area', '(139 sq.m.) Built-up Area', '(28 sq.m.) Built-up Area', '(49 sq.m.) Built-up Area', '(75 sq.m.) Super built-up Area', '(55 sq.m.) Super built-up Area', '(52 sq.m.) Carpet Area', '(75 sq.m.) Carpet Area', '(142 sq.m.) Built-up Area', '(59 sq.m.) Carpet Area', '(131 sq.m.) Super built-up Area', '(57 sq.m.) Built-up Area', '(88 sq.m.) Carpet Area', '(61 sq.m.) Carpet Area', '(149 sq.m.) Super built-up Area', '(58 sq.m.) Carpet Area', '(79 sq.m.) Built-up Area', '(98 sq.m.) Carpet Area', '(72 sq.m.) Carpet Area', '(43 sq.m.) Carpet Area', '(116 sq.m.) Carpet Area', '(81 sq.m.) Built-up Area', '(55 sq.m.) Carpet Area', '(88 sq.m.) Super built-up Area', '(110 sq.m.) Built-up Area', '(81 sq.m.) Carpet Area', '(186 sq.m.) Built-up Area', '(88 sq.m.) Carpet Area', '(62 sq.m.) Built-up Area', '(55 sq.m.) Super built-up Area', '(65 sq.m.) Carpet Area', '(72 sq.m.) Carpet Area', '(98 sq.m.) Built-up Area', '(104 sq.m.) Super built-up Area', '(43 sq.m.) Built-up Area', '(84 sq.m.) Super built-up Area', '(85 sq.m.) Super built-up Area', '(101 sq.m.) Super built-up Area', '(67 sq.m.) Carpet Area', '(50 sq.m.) Built-up Area', '(59 sq.m.) Carpet Area', '(59 sq.m.) Super built-up Area', '(33 sq.m.) Carpet Area', '(105 sq.m.) Super built-up Area', '(142 sq.m.) Carpet Area', '(1532 sq.m.) Plot Area', '(57 sq.m.) Carpet Area', '(107 sq.m.) Super built-up Area', '(232 sq.m.) Super built-up Area', '(214 sq.m.) Carpet Area', '(55 sq.m.) Built-up Area', '(3035 sq.m.) Plot Area', '(53 sq.m.) Built-up Area', '(61 sq.m.) Carpet Area', '(37 sq.m.) Carpet Area', '(41 sq.m.) Carpet Area', '(78 sq.m.) Built-up Area', '(58 sq.m.) Built-up Area', '(75 sq.m.) Super built-up Area', '(355 sq.m.) Built-up Area', '(79 sq.m.) Built-up Area', '(279 sq.m.) Plot Area', '(39 sq.m.) Carpet Area', '(210 sq.m.) Plot Area', '(62 sq.m.) Carpet Area', '(74 sq.m.) Built-up Area', '(118 sq.m.) Super built-up Area', '(94 sq.m.) Built-up Area', '(34 sq.m.) Carpet Area', '(40 sq.m.) Carpet Area', '(102 sq.m.) Carpet Area', '(54 sq.m.) Carpet Area', '(71 sq.m.) Built-up Area', '(92 sq.m.) Carpet Area', '(94 sq.m.) Super built-up Area', '(62 sq.m.) Super built-up Area', '(101 sq.m.) Carpet Area', '(88 sq.m.) Carpet Area', '(59 sq.m.) Carpet Area', '(197 sq.m.) Built-up Area', '(103 sq.m.) Carpet Area', '(57 sq.m.) Built-up Area', '(52 sq.m.) Carpet Area', '(63 sq.m.) Carpet Area', '(89 sq.m.) Carpet Area', '(34 sq.m.) Carpet Area', '(99 sq.m.) Carpet Area', '(100 sq.m.) Built-up Area', '(39 sq.m.) Carpet Area', '(38 sq.m.) Carpet Area', '(59 sq.m.) Built-up Area', '(65 sq.m.) Carpet Area', '(70 sq.m.) Carpet Area', '(60 sq.m.) Super built-up Area', '(30 sq.m.) Plot Area', '(51 sq.m.) Carpet Area', '(200 sq.m.) Plot Area', '(62 sq.m.) Super built-up Area', '(100 sq.m.) Carpet Area']

In [43]:
characters_to_remove = ["("," sq.m.) ","Built-up Area","Super built-up Area","Carpet Area","Plot Area","-"]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
area_sqm = []

for string in builtup_area:
    modified_string = re.sub(pattern, "", string)
    area_sqm.append(modified_string)

print(area_sqm)

['101', '57', '38', '55', '135', '81', '139', '49', '60', '79', '54', '139', '85', '111', '73', '59', '7650', '73', '80', '125', '91', '42', '139', '61', '62', '89', '37', '67', '117', '76', '136', '207', '79', '99', '26', '58', '52', '158', '67', '26', '116', '139', '28', '49', '75', '55', '52', '75', '142', '59', '131', '57', '88', '61', '149', '58', '79', '98', '72', '43', '116', '81', '55', '88', '110', '81', '186', '88', '62', '55', '65', '72', '98', '104', '43', '84', '85', '101', '67', '50', '59', '59', '33', '105', '142', '1532', '57', '107', '232', '214', '55', '3035', '53', '61', '37', '41', '78', '58', '75', '355', '79', '279', '39', '210', '62', '74', '118', '94', '34', '40', '102', '54', '71', '92', '94', '62', '101', '88', '59', '197', '103', '57', '52', '63', '89', '34', '99', '100', '39', '38', '59', '65', '70', '60', '30', '51', '200', '62', '100']

In [44]:
BuiltUp_Area_Sqm = [int(x) for x in area_sqm]

print(BuiltUp_Area_Sqm)

[101, 57, 38, 55, 135, 81, 139, 49, 60, 79, 54, 139, 85, 111, 73, 59, 7650, 73, 80, 125, 91, 42, 139, 61, 62, 89, 37, 67, 117, 76, 136, 207, 79, 99, 26, 58, 52, 158, 67, 26, 116, 139, 28, 49, 75, 55, 52, 75, 142, 59, 131, 57, 88, 61, 149, 58, 79, 98, 72, 43, 116, 81, 55, 88, 110, 81, 186, 88, 62, 55, 65, 72, 98, 104, 43, 84, 85, 101, 67, 50, 59, 59, 33, 105, 142, 1532, 57, 107, 232, 214, 55, 3035, 53, 61, 37, 41, 78, 58, 75, 355, 79, 279, 39, 210, 62, 74, 118, 94, 34, 40, 102, 54, 71, 92, 94, 62, 101, 88, 59, 197, 103, 57, 52, 63, 89, 34, 99, 100, 39, 38, 59, 65, 70, 60, 30, 51, 200, 62, 100]

In [45]:
total_price=[i*j for i in Price_per_SqFt for j in BuiltUp_Area_Sqm]
total_price

[52621,
 29697,
 19798,
 28655,
 70335,
 42201,
 72419,
 25529,
 31260,
 41159,
 28134,
 72419,
 44285,
 57831,
 38033,
 30739,
 3985650,
 38033,
 41680,
 65125,
 47411,
 21882,
 72419,
 31781,
 32302,
 46369,
 19277,
 34907,
 60957,
 39596,
 70856,
 107847,
 41159,
 51579,
 13546,
 30218,
 27092,
 82318,
 34907,
 13546,
 60436,
 72419,
 14588,
 25529,
 39075,
 28655,
 27092,
 39075,
 73982,
 30739,
 68251,
 29697,
 45848,
 31781,
 77629,
 30218,
 41159,
 51058,
 37512,
 22403,
 60436,
 42201,
 28655,
 45848,
 57310,
 42201,
 96906,
 45848,
 32302,
 28655,
 33865,
 37512,
 51058,
 54184,
 22403,
 43764,
 44285,
 52621,
 34907,
 26050,
 30739,
 30739,
 17193,
 54705,
 73982,
 798172,
 29697,
 55747,
 120872,
 111494,
 28655,
 1581235,
 27613,
 31781,
 19277,
 21361,
 40638,
 30218,
 39075,
 184955,
 41159,
 145359,
 20319,
 109410,
 32302,
 38554,
 61478,
 48974,
 17714,
 20840,
 53142,
 28134,
 36991,
 47932,
 48974,
 32302,
 52621,
 45848,
 30739,
 102637,
 53663,
 29697,
 27092,
 32823,
 46369,
 17714,
 51579,
 52100,
 20319,
 19798,
 30739,
 33865,
 36470,
 31260,
 15630,
 26571,
 104200,
 32302,
 52100,
 1099789,
 620673,
 413782,
 598895,
 1470015,
 882009,
 1513571,
 533561,
 653340,
 860231,
 588006,
 1513571,
 925565,
 1208679,
 794897,
 642451,
 83300850,
 794897,
 871120,
 1361125,
 990899,
 457338,
 1513571,
 664229,
 675118,
 969121,
 402893,
 729563,
 1274013,
 827564,
 1480904,
 2254023,
 860231,
 1078011,
 283114,
 631562,
 566228,
 1720462,
 729563,
 283114,
 1263124,
 1513571,
 304892,
 533561,
 816675,
 598895,
 566228,
 816675,
 1546238,
 642451,
 1426459,
 620673,
 958232,
 664229,
 1622461,
 631562,
 860231,
 1067122,
 784008,
 468227,
 1263124,
 882009,
 598895,
 958232,
 1197790,
 882009,
 2025354,
 958232,
 675118,
 598895,
 707785,
 784008,
 1067122,
 1132456,
 468227,
 914676,
 925565,
 1099789,
 729563,
 544450,
 642451,
 642451,
 359337,
 1143345,
 1546238,
 16681948,
 620673,
 1165123,
 2526248,
 2330246,
 598895,
 33048115,
 577117,
 664229,
 402893,
 446449,
 849342,
 631562,
 816675,
 3865595,
 860231,
 3038031,
 424671,
 2286690,
 675118,
 805786,
 1284902,
 1023566,
 370226,
 435560,
 1110678,
 588006,
 773119,
 1001788,
 1023566,
 675118,
 1099789,
 958232,
 642451,
 2145133,
 1121567,
 620673,
 566228,
 686007,
 969121,
 370226,
 1078011,
 1088900,
 424671,
 413782,
 642451,
 707785,
 762230,
 653340,
 326670,
 555339,
 2177800,
 675118,
 1088900,
 2200083,
 1241631,
 827754,
 1198065,
 2940705,
 1764423,
 3027837,
 1067367,
 1306980,
 1720857,
 1176282,
 3027837,
 1851555,
 2417913,
 1590159,
 1285197,
 166639950,
 1590159,
 1742640,
 2722875,
 1982253,
 914886,
 3027837,
 1328763,
 1350546,
 1938687,
 805971,
 1459461,
 2548611,
 1655508,
 2962488,
 4509081,
 1720857,
 2156517,
 566358,
 1263414,
 1132716,
 3441714,
 1459461,
 566358,
 2526828,
 3027837,
 609924,
 1067367,
 1633725,
 1198065,
 1132716,
 1633725,
 3093186,
 1285197,
 2853573,
 1241631,
 1916904,
 1328763,
 3245667,
 1263414,
 1720857,
 2134734,
 1568376,
 936669,
 2526828,
 1764423,
 1198065,
 1916904,
 2396130,
 1764423,
 4051638,
 1916904,
 1350546,
 1198065,
 1415895,
 1568376,
 2134734,
 2265432,
 936669,
 1829772,
 1851555,
 2200083,
 1459461,
 1089150,
 1285197,
 1285197,
 718839,
 2287215,
 3093186,
 33371556,
 1241631,
 2330781,
 5053656,
 4661562,
 1198065,
 66111405,
 1154499,
 1328763,
 805971,
 893103,
 1699074,
 1263414,
 1633725,
 7732965,
 1720857,
 6077457,
 849537,
 4574430,
 1350546,
 1611942,
 2570394,
 2047602,
 740622,
 871320,
 2221866,
 1176282,
 1546593,
 2004036,
 2047602,
 1350546,
 2200083,
 1916904,
 1285197,
 4291251,
 2243649,
 1241631,
 1132716,
 1372329,
 1938687,
 740622,
 2156517,
 2178300,
 849537,
 827754,
 1285197,
 1415895,
 1524810,
 1306980,
 653490,
 1110933,
 4356600,
 1350546,
 2178300,
 1612566,
 910062,
 606708,
 878130,
 2155410,
 1293246,
 2219274,
 782334,
 957960,
 1261314,
 862164,
 2219274,
 1357110,
 1772226,
 1165518,
 941994,
 122139900,
 1165518,
 1277280,
 1995750,
 1452906,
 670572,
 2219274,
 973926,
 989892,
 1420974,
 590742,
 1069722,
 1868022,
 1213416,
 2171376,
 3304962,
 1261314,
 1580634,
 415116,
 926028,
 830232,
 2522628,
 1069722,
 415116,
 1852056,
 2219274,
 447048,
 782334,
 1197450,
 878130,
 830232,
 1197450,
 2267172,
 941994,
 2091546,
 910062,
 1405008,
 973926,
 2378934,
 926028,
 1261314,
 1564668,
 1149552,
 686538,
 1852056,
 1293246,
 878130,
 1405008,
 1756260,
 1293246,
 2969676,
 1405008,
 989892,
 878130,
 1037790,
 1149552,
 1564668,
 1660464,
 686538,
 1341144,
 1357110,
 1612566,
 1069722,
 798300,
 941994,
 941994,
 526878,
 1676430,
 2267172,
 24459912,
 910062,
 1708362,
 3704112,
 3416724,
 878130,
 48456810,
 846198,
 973926,
 590742,
 654606,
 1245348,
 926028,
 1197450,
 5667930,
 1261314,
 4454514,
 622674,
 3352860,
 989892,
 1181484,
 1883988,
 1500804,
 542844,
 638640,
 1628532,
 862164,
 1133586,
 1468872,
 1500804,
 989892,
 1612566,
 1405008,
 941994,
 3145302,
 1644498,
 910062,
 830232,
 1005858,
 1420974,
 542844,
 1580634,
 1596600,
 622674,
 606708,
 941994,
 1037790,
 1117620,
 957960,
 478980,
 814266,
 3193200,
 989892,
 1596600,
 2612062,
 1474134,
 982756,
 1422410,
 3491370,
 2094822,
 3594818,
 1267238,
 1551720,
 2043098,
 1396548,
 3594818,
 2198270,
 2870682,
 1887926,
 1525858,
 197844300,
 1887926,
 2068960,
 3232750,
 2353442,
 1086204,
 3594818,
 1577582,
 1603444,
 2301718,
 956894,
 1732754,
 3025854,
 1965512,
 3517232,
 5353434,
 2043098,
 2560338,
 672412,
 1499996,
 1344824,
 4086196,
 1732754,
 672412,
 2999992,
 3594818,
 724136,
 1267238,
 1939650,
 1422410,
 1344824,
 1939650,
 3672404,
 1525858,
 3387922,
 1474134,
 2275856,
 1577582,
 3853438,
 1499996,
 2043098,
 2534476,
 1862064,
 1112066,
 2999992,
 2094822,
 1422410,
 2275856,
 2844820,
 2094822,
 4810332,
 2275856,
 1603444,
 1422410,
 1681030,
 1862064,
 2534476,
 2689648,
 1112066,
 2172408,
 2198270,
 2612062,
 1732754,
 1293100,
 1525858,
 1525858,
 853446,
 2715510,
 3672404,
 39620584,
 1474134,
 2767234,
 5999984,
 5534468,
 1422410,
 78491170,
 1370686,
 1577582,
 956894,
 1060342,
 2017236,
 1499996,
 1939650,
 9181010,
 2043098,
 7215498,
 1008618,
 5431020,
 1603444,
 1913788,
 3051716,
 2431028,
 879308,
 1034480,
 2637924,
 1396548,
 1836202,
 2379304,
 2431028,
 1603444,
 2612062,
 2275856,
 1525858,
 5094814,
 2663786,
 1474134,
 1344824,
 1629306,
 2301718,
 879308,
 2560338,
 2586200,
 1008618,
 982756,
 1525858,
 1681030,
 1810340,
 1551720,
 775860,
 1318962,
 5172400,
 1603444,
 2586200,
 4035354,
 2277378,
 1518252,
 2197470,
 5393790,
 3236274,
 5553606,
 1957746,
 2397240,
 3156366,
 2157516,
 5553606,
 3396090,
 4434894,
 2916642,
 2357286,
 305648100,
 2916642,
 3196320,
 4994250,
 3635814,
 1678068,
 5553606,
 2437194,
 2477148,
 3555906,
 1478298,
 2676918,
 4674618,
 3036504,
 5433744,
 8270478,
 3156366,
 3955446,
 1038804,
 2317332,
 2077608,
 6312732,
 2676918,
 1038804,
 4634664,
 5553606,
 1118712,
 1957746,
 2996550,
 2197470,
 2077608,
 2996550,
 5673468,
 2357286,
 5233974,
 2277378,
 3515952,
 2437194,
 5953146,
 2317332,
 3156366,
 3915492,
 2876688,
 1718022,
 4634664,
 3236274,
 2197470,
 3515952,
 4394940,
 3236274,
 7431444,
 3515952,
 2477148,
 2197470,
 2597010,
 2876688,
 3915492,
 4155216,
 1718022,
 3356136,
 3396090,
 4035354,
 2676918,
 1997700,
 2357286,
 2357286,
 1318482,
 4195170,
 5673468,
 61209528,
 2277378,
 4275078,
 9269328,
 8550156,
 2197470,
 121260390,
 2117562,
 2437194,
 1478298,
 1638114,
 3116412,
 2317332,
 2996550,
 14183670,
 3156366,
 11147166,
 1558206,
 8390340,
 2477148,
 2956596,
 4714572,
 3755676,
 1358436,
 1598160,
 4075308,
 2157516,
 2836734,
 3675768,
 3755676,
 2477148,
 4035354,
 3515952,
 2357286,
 7870938,
 4115262,
 2277378,
 2077608,
 2517102,
 3555906,
 1358436,
 3955446,
 3995400,
 1558206,
 1518252,
 2357286,
 2597010,
 2796780,
 2397240,
 1198620,
 2037654,
 7990800,
 2477148,
 3995400,
 1481266,
 835962,
 557308,
 806630,
 1979910,
 1187946,
 2038574,
 718634,
 879960,
 1158614,
 791964,
 2038574,
 1246610,
 1627926,
 1070618,
 865294,
 112194900,
 1070618,
 1173280,
 1833250,
 1334606,
 615972,
 2038574,
 894626,
 909292,
 1305274,
 542642,
 982622,
 1715922,
 1114616,
 1994576,
 3035862,
 1158614,
 1451934,
 381316,
 850628,
 762632,
 2317228,
 982622,
 381316,
 1701256,
 2038574,
 410648,
 718634,
 1099950,
 806630,
 762632,
 1099950,
 2082572,
 865294,
 1921246,
 835962,
 1290608,
 894626,
 2185234,
 850628,
 1158614,
 1437268,
 1055952,
 630638,
 1701256,
 1187946,
 806630,
 1290608,
 1613260,
 1187946,
 2727876,
 1290608,
 909292,
 806630,
 953290,
 1055952,
 1437268,
 1525264,
 630638,
 1231944,
 1246610,
 1481266,
 982622,
 733300,
 865294,
 865294,
 483978,
 1539930,
 2082572,
 22468312,
 835962,
 1569262,
 3402512,
 3138524,
 806630,
 44511310,
 777298,
 894626,
 542642,
 601306,
 1143948,
 850628,
 1099950,
 5206430,
 1158614,
 4091814,
 571974,
 3079860,
 909292,
 1085284,
 1730588,
 1378604,
 498644,
 586640,
 1495932,
 791964,
 1041286,
 1349272,
 1378604,
 909292,
 1481266,
 1290608,
 865294,
 2889202,
 1510598,
 835962,
 762632,
 923958,
 1305274,
 498644,
 1451934,
 1466600,
 571974,
 557308,
 865294,
 953290,
 1026620,
 879960,
 439980,
 747966,
 2933200,
 909292,
 1466600,
 3174228,
 1791396,
 1194264,
 1728540,
 4242780,
 2545668,
 4368492,
 1539972,
 1885680,
 2482812,
 1697112,
 4368492,
 2671380,
 3488508,
 2294244,
 1854252,
 240424200,
 2294244,
 2514240,
 3928500,
 2859948,
 1319976,
 4368492,
 1917108,
 1948536,
 2797092,
 1162836,
 ...]

# bath

In [46]:
baths = df['bhk'].tolist()

print(baths)

[nan, '2 BHK2 Baths', '1 BHK2 Baths', '1 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '1 BHK2 Baths', '1 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK4 Baths', '2 BHK2 Baths', nan, '3 BHK3 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '1 BHK2 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK2 Baths', '3 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '4 BHK4 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK2 Baths', '3 BHK3 Baths', '1 BHK2 Baths', '1 BHK1 Bath', '2 BHK3 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '3 BHK1 Bath', '2 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK1 Bath', '2 BHK2 Baths', '3 BHK2 Baths', '3 BHK3 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '1 BHK2 Baths', '2 BHK2 Baths', '2 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '3 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK1 Bath', '1 BHK1 Bath', '1 BHK1 Bath', '2 BHK2 Baths', '3 BHK3 Baths', nan, '2 BHK2 Baths', '2 BHK2 Baths', '5 BHK5 Baths', '4 BHK4 Baths', '1 BHK2 Baths', nan, '1 BHK2 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '6 BHK4 Baths', '2 BHK2 Baths', '6 BHK7 Baths', '1 BHK1 Bath', '5 BHK4 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '3 BHK3 Baths', '2 BHK2 Baths', '1 BHK2 Baths', '3 BHK3 Baths', '2 BHK1 Bath', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '4 BHK4 Baths', '3 BHK3 Baths', '1 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '3 BHK2 Baths', '2 BHK1 Bath', '1 BHK2 Baths', '1 BHK1 Bath', '1 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK2 Baths', nan, '1 BHK2 Baths', '3 BHK3 Baths']

In [47]:
Baths = [re.search(r'\d+', x).group() if x is not np.nan else x for x in baths]

print(Baths)

[nan, '2', '1', '1', '3', '2', '3', '1', '1', '2', '2', '3', '2', '2', '2', '2', nan, '3', '2', '3', '2', '1', '3', '1', '2', '2', '1', '3', '2', '2', '3', '4', '1', '2', '1', '2', '1', '3', '1', '1', '2', '3', '1', '1', '2', '1', '2', '2', '3', '2', '3', '1', '3', '2', '3', '2', '2', '2', '3', '1', '3', '2', '2', '2', '3', '3', '3', '2', '1', '1', '2', '2', '2', '2', '1', '2', '1', '3', '2', '1', '2', '1', '1', '2', '3', nan, '2', '2', '5', '4', '1', nan, '1', '1', '1', '1', '2', '1', '1', '6', '2', '6', '1', '5', '2', '2', '2', '2', '1', '1', '3', '2', '1', '3', '2', '1', '2', '2', '2', '4', '3', '1', '2', '2', '3', '1', '3', '2', '1', '1', '1', '2', '2', '1', '2', '1', nan, '1', '3']

In [48]:
for i in range(len(Baths)):
    try:
        if np.isnan(float(Baths[i])):
            Baths[i] = 0
    except:
        pass

print(Baths)

[0, '2', '1', '1', '3', '2', '3', '1', '1', '2', '2', '3', '2', '2', '2', '2', 0, '3', '2', '3', '2', '1', '3', '1', '2', '2', '1', '3', '2', '2', '3', '4', '1', '2', '1', '2', '1', '3', '1', '1', '2', '3', '1', '1', '2', '1', '2', '2', '3', '2', '3', '1', '3', '2', '3', '2', '2', '2', '3', '1', '3', '2', '2', '2', '3', '3', '3', '2', '1', '1', '2', '2', '2', '2', '1', '2', '1', '3', '2', '1', '2', '1', '1', '2', '3', 0, '2', '2', '5', '4', '1', 0, '1', '1', '1', '1', '2', '1', '1', '6', '2', '6', '1', '5', '2', '2', '2', '2', '1', '1', '3', '2', '1', '3', '2', '1', '2', '2', '2', '4', '3', '1', '2', '2', '3', '1', '3', '2', '1', '1', '1', '2', '2', '1', '2', '1', 0, '1', '3']

In [49]:
for i in range(len(Baths)):
    try:
        Baths[i] = int(Baths[i])
    except:
        pass
print(Baths)

[0, 2, 1, 1, 3, 2, 3, 1, 1, 2, 2, 3, 2, 2, 2, 2, 0, 3, 2, 3, 2, 1, 3, 1, 2, 2, 1, 3, 2, 2, 3, 4, 1, 2, 1, 2, 1, 3, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, 3, 2, 3, 1, 3, 2, 3, 2, 2, 2, 3, 1, 3, 2, 2, 2, 3, 3, 3, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 3, 2, 1, 2, 1, 1, 2, 3, 0, 2, 2, 5, 4, 1, 0, 1, 1, 1, 1, 2, 1, 1, 6, 2, 6, 1, 5, 2, 2, 2, 2, 1, 1, 3, 2, 1, 3, 2, 1, 2, 2, 2, 4, 3, 1, 2, 2, 3, 1, 3, 2, 1, 1, 1, 2, 2, 1, 2, 1, 0, 1, 3]

In [50]:
len(Baths)

139

In [51]:
print(len(bhk))
print(len(Total_SqFt))
print(len(BuiltUp_Area_Sqm))
print(len(Price_per_SqFt))
print(len(type_of_land))
print(len(loc))
print(len(new_matches))

139
139
139
139
139
139
139

In [52]:
df=pd.DataFrame({'BHK':bhk,'Baths':Baths,'Total_Area_SqFt':Total_SqFt,"Price_per_SqFt":Price_per_SqFt,"Type_of_Land":type_of_land,'Area':loc,'Price':new_matches})
df["Location"]='Mumbai'
df

,BHK,Baths,Total_Area_SqFt,Price_per_SqFt,Type_of_Land,Area,Price,Location
0,0,0,1089,521,Residential land / Plot,Dronagiri,56800000,Mumbai
1,2,2,613,10889,Apartment,Anjurdive,6675000,Mumbai
2,1,1,404,21783,Apartment,Dahisar East,8300000,Mumbai
3,1,1,595,15966,Apartment,Dahisar West,9500000,Mumbai
4,3,3,1450,25862,Apartment,Vidyavihar West,37500000,Mumbai
...,...,...,...,...,...,...,...,...
134,2,2,322,35613,Bedroom House,Vashi,11500000,Mumbai
135,1,1,550,8163,Apartment,Kharghar,4490000,Mumbai
136,0,0,2150,837,Residential land / Plot,Shahpur,1800000,Mumbai
137,1,1,663,6184,Apartment,Vichumbe,4100000,Mumbai
138,3,3,1074,30233,Apartment,Mulund West,32500000,Mumbai

In [53]:
df.to_excel('Buy_Data.xlsx')